Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

CHANGE: output #P and #N in float type for readability
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

EDIT: embed some info in the least significant 8bits of `dfpn::Node::m_delta`
  cpp/include/vshogi/engine/dfpn/node.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: pass `ColoredPiece` parameter to `BitBoard::get_neighbor_2nd()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_king.cpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_soldier.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: prefer term `slide` over `range`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/iterator/king.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

TMP: delayed initialization of Move iterators
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `SoldierMoveIterator<CHECK>::init_src_iter()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `Pieces` -> `PieceTraits`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/piece_traits.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/piece_value.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_minishogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `dfpn::Node::{m_sibling -> m_parent}`
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: remove member `dfpn::Node::m_proved_by_repetition`
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: adopt first play urgency used in Lc0
  cpp/include/vshogi/engine/mcts.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `Iterator::{is_end() -> operator bool()}`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/iterator/chained_iterator.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/king.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_drop.cpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_king.cpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_soldier.cpp
  cpp/tests/test_vshogi/test_profile.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

use `LegalMoveIterator<EVADE>` in `Game::get_legal_moves()`
  cpp/include/vshogi/common/game.hpp
  cpp/tests/test_vshogi/test_profile.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: rename `BitBoard::{BitboardSquareIterator -> Iterator}`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/king.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: option to auto draw in `vshogi.play_game()`
  examples/dlshogi.py
  python/vshogi/_play.py
Due: flake8, python-unittest

EDIT: `vshogi._to_jpn()` -> `vshogi._vshogi.*.to_jpn()`
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/_to_jpn.py
  python/vshogi/judkins_shogi/__init__.py
  python/vshogi/minishogi/__init__.py
  python/vshogi/shogi/__init__.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

ADD: `Game::rotate()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_stand.cpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `LegalMoveIterator` -> `MoveGenerator`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/iterator.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_profile.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `Squares` -> `SquareTraits`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/direction.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/iterator.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/king.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/square_traits.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_square_traits.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_square_traits.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_square_traits.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `Move::rotate_square()`
  cpp/include/vshogi/common/move.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `*MoveIterator` -> `*MoveGenerator`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/generators/chain.hpp
  cpp/include/vshogi/common/generators/drop.hpp
  cpp/include/vshogi/common/generators/gentype.hpp
  cpp/include/vshogi/common/generators/king.hpp
  cpp/include/vshogi/common/generators/soldier.hpp
  cpp/include/vshogi/common/iterator.hpp
  cpp/include/vshogi/common/iterator/iterator.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_drop.cpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_king.cpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_soldier.cpp
  cpp/tests/test_vshogi/test_profile.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: remove nullptr check after `SquareTraits::ray_from()` call
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

refactor `DropMoveGenerator<EVADE>::DropMoveGenerator()`
  cpp/include/vshogi/common/generators/drop.hpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_drop.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: pass generator instead of vector of actions to `mcts::Node::simulate_ongoing_and_expand()`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: use clang-format hook from remote repo instead of local
  .pre-commit-config.yaml
Due: none

CHANGE: run clang-tidy in github actions instead of in pre-commit hook
  .github/workflows/run-checks.yaml
  .pre-commit-config.yaml
Due: none

pre-commit hook runs short version of `dlshogi_model.py`
  .pre-commit-config.yaml
  examples/dlshogi_model.py
Due: flake8, python-unittest

REMOVE: devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/post-create-command.sh
Due: none

EDIT: upgrade clang-format version from v15.0.7 to v19.1.7
  .pre-commit-config.yaml
  cpp/include/vshogi/common/generators/drop.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `Move::to_dlshogi_policy_index()` and add parameter `const ColorEnum& by_side`
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  cpp/tests/test_vshogi/test_shogi/test_move.cpp
  python/tests/test_vshogi/test_minishogi/test_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `{Move -> Game}::promotion_to_{jpn, eng}()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/move.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: unnecessary member `mcts::Node::m_value`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: unnecessary method `BitBoard::compute_ray_to_{adjacent, diagonal}()`
  cpp/include/vshogi/common/bitboard.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `BitBoard` -> `BitboardTraits`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/bitboard_traits.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/generators/drop.hpp
  cpp/include/vshogi/common/generators/king.hpp
  cpp/include/vshogi/common/generators/soldier.hpp
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard_traits.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard_traits.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard_traits.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `Board::compute_king_movable()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generators/king.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: removed `Board::compute_droppable()`, addded `Board::drop_pawn_mate_square()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generators/drop.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: unnecessary method `Game::find_checker_square`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `NotationTraits`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/notation.hpp
  cpp/include/vshogi/common/piece_traits.hpp
  cpp/include/vshogi/common/square_traits.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_common/test_notation.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_square_traits.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  cpp/tests/test_vshogi/test_minishogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_minishogi/test_square_traits.cpp
  cpp/tests/test_vshogi/test_minishogi/test_stand.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_shogi/test_square_traits.cpp
  cpp/tests/test_vshogi/test_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `Move` -> `MoveTraits`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generators/chain.hpp
  cpp/include/vshogi/common/generators/drop.hpp
  cpp/include/vshogi/common/generators/king.hpp
  cpp/include/vshogi/common/generators/soldier.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/notation.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_drop.cpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_king.cpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_soldier.cpp
  cpp/tests/test_vshogi/test_common/test_notation.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_engine/test_piece_value_func.cpp
  cpp/tests/test_vshogi/test_game.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_profile.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `vshogi::engine::mcts`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/engine/mcts/node.hpp
  cpp/include/vshogi/engine/mcts/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_profile.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: remove template parameter from `vshogi::engine::mcts::Node`
  cpp/include/vshogi/engine/mcts/node.hpp
  cpp/include/vshogi/engine/mcts/searcher.hpp
  cpp/python/vshogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/src/vshogi/engine/mcts/node.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts/test_searcher.cpp
  cpp/tests/test_vshogi/test_profile.cpp
  python/vshogi/_game.py
  python/vshogi/engine/_mcts.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest
