Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

CHANGE: `--show-pbar` -> `--show-{inner, outer}-pbar`
  python/vshogi/_cli/_match.py
Due: flake8, python-unittest

ADD: `vshogi._backend` module for web app
  README.md
  pyproject.toml
  python/tests/test_vshogi/test_backend.py
  python/vshogi/_backend.py
Due: flake8, python-unittest

ADD: HTTP GET `/api/game/sfen`
  python/tests/test_vshogi/test_backend.py
  python/vshogi/_backend.py
Due: flake8, python-unittest

ADD: HTTP POST `/api/move`
  python/tests/test_vshogi/test_backend.py
  python/vshogi/_backend.py
Due: flake8, python-unittest

CHANGE: `/api/game/sfen` -> `/api/game/state`
  python/tests/test_vshogi/test_backend.py
  python/vshogi/_backend.py
Due: flake8, python-unittest

ADD: HTTP POST /api/resign
  python/tests/test_vshogi/test_backend.py
  python/vshogi/_backend.py
Due: flake8, python-unittest

ADD: HTTP POST /api/undo
  python/tests/test_vshogi/test_backend.py
  python/vshogi/_backend.py
Due: flake8, python-unittest

CHANGE: backend app returns move history in addition to current game position and result
  python/tests/test_vshogi/test_backend.py
  python/vshogi/_backend.py
Due: flake8, python-unittest

ADD: frontend app
  README.md
  app/config.js
  app/game.js
  app/index.html
  app/package-lock.json
  app/package.json
  app/styles.css
  app/vite.config.js
  python/vshogi/_backend.py
Due: flake8, python-unittest

ADD: CLI option `--min-dataset-size`
  .github/workflows/run-dlshogi-servers.yaml
  python/scripts/run_alpha_zero_servers.py
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_cli/_alpha_zero.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
Due: flake8, python-unittest

CHANGE: CLI self-play-worker increases their simulation budgets
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_cli/_alpha_zero.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/_self_play_worker.py
Due: flake8, python-unittest

REMOVE: `_NetworkTrainer._aggregate()` method
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
Due: flake8, python-unittest

FIX: fix CLI bug that raises an error when there is no kifu file in a directory
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
Due: flake8, python-unittest

CHANGE: change parameter `_NetworkTrainer.{_last_read_kifu -> _loaded_kifu_list}`
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
Due: flake8, python-unittest

ADD: CLI option 'loss-backup-path'
  python/tests/test_vshogi/test_dlshogi/test_read_kifu.py
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

ADD: document about loss backup path experiment
  docs/devlog/devlog_20260426_loss_backup_path.md
Due: none

REMOVE: remove CLI `vshogi dlshogi`
  .github/workflows/run-dlshogi.yaml
  python/vshogi/__main__.py
  python/vshogi/dlshogi/_cli/__init__.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
Due: flake8, python-unittest

ADD: CLI option `--loss-discount-factor`
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

CHANGE: set default value of `loss-discount-factor` to 0.95
  docs/devlog/devlog_20260427_loss_discount_factor.md
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
Due: flake8, python-unittest

ADD: validation against multiple previous models in self-play-worker CLI
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_cli/_alpha_zero.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_klent/_self_play_worker.py
Due: flake8, python-unittest

tmp
  Cargo.lock
  Cargo.toml
  pyproject.toml
  src/lib.rs
  src/vshogi.rs
Due: none

CHANGE: `vshogi.dlshogi.train` displays KL divergence between target and predicted distribution instead of cross entropy between them.
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

test_export_to_tflite check if output values from pytorch and litert are almost the same
  python/tests/test_vshogi/test_dlshogi/test_network.py
Due: flake8, python-unittest

CHANGE: change dependency from ai-edge-torch to litert-torch
  pyproject.toml
  python/scripts/run_alpha_zero.py
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_network/_depthwise_attention.py
Due: flake8, python-unittest

EDIT: compute Config::initial_points value at compile time instead of setting an explicit value
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/piece_traits.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: Config::{max_acceptable_repetitions -> nfold_repetitions}
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: automatically compute Configuration::num_init_piece_each at compile time instead of explicitly setting a specified value
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: automatically compute Configuration::sum_piece_value at compile time instead of explicitly setting a specified value
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: automatically compute Configuration::initial_piece_count at compile time instead of explicitly setting a specified value
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: automatically compute Configuration::max_stand_piece_count at compile time instead of explicitly setting a specified value
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: automatically compute Configuration::num_dir at compile time instead of explicitly setting a specified value
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `_NetworkTrainer` renames loaded files
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_cli/_alpha_zero.py
Due: flake8, python-unittest

EDIT: suppress some stdouts from litert-torch
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
Due: flake8, python-unittest

FIX: fix github action checking generated data
  .github/workflows/run-cli.yaml
Due: none

ADD: `--dedupe-dataset` option in CLI
  docs/devlog/devlog_20260518_dedupe.md
  python/scripts/run_alpha_zero_servers.py
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_data.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

ADD: test ReplayBuffer(dedupe=True)
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
Due: flake8, python-unittest

FIX: cycler restart
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_cli/_alpha_zero.py
Due: flake8, python-unittest

ADD: `_SelfPlayWorker.validate` catches timeout error and retries up to 4 times
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
Due: flake8, python-unittest

CHANGE: remove 'm_action' member from tree::Node and move it to derived classes
  cpp/include/vshogi/engine/az/node.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/gaz/node.hpp
  cpp/include/vshogi/engine/tree/node.hpp
  cpp/src/vshogi/engine/az/node.cpp
  cpp/src/vshogi/engine/gaz/node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: remove assigning self pointer to `m_parent` members of child nodes
  cpp/include/vshogi/engine/gaz/node.hpp
  cpp/src/vshogi/engine/az/node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest
