Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

ADD: add `include_move_count` argument to vshogi.Game.get_sfen_at() to toggle move count
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/minishogi/game.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: GET_SFEN()
  examples/dlshogi/main.py
Due: flake8, python-unittest

ADD: `breadth` argument
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

EDIT: run self-play in parallel
  examples/dlshogi/main.py
Due: flake8, python-unittest

EDIT: store legal moves in `vshogi::minishogi::Game::m_legal_moves` for speed
  cpp/include/vshogi/minishogi/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: vshogi.engine.MonteCarloTreeSearcher prefers mate move regardless of visit count
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi/main.py
  python/tests/test_vshogi/test_engine/test_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: remove ONGOING games from validation
  examples/dlshogi/main.py
Due: flake8, python-unittest

EDIT: test of MCTS with random search
  python/tests/test_vshogi/test_engine/test_mcts.py
Due: flake8, python-unittest

ADD: `vshogi.Game.to_policy_probas()` method
  examples/dlshogi/main.py
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_game.py
  python/vshogi/_game.py
Due: flake8, python-unittest

EDIT: `vshogi.Game.get_sfen_at()` supports negative input
  python/tests/test_vshogi/test_game.py
  python/vshogi/_game.py
Due: flake8, python-unittest

EDIT: `vshogi.Game.get_move_at()` supports negative input
  python/tests/test_vshogi/test_game.py
  python/vshogi/_game.py
Due: flake8, python-unittest

FIX: bug fix of `vshogi.Game.apply()` method passing kwargs only
  python/tests/test_vshogi/test_game.py
  python/vshogi/_game.py
Due: flake8, python-unittest

ADD: doctest of `vshogi.Game.result` property
  python/vshogi/_game.py
Due: flake8, python-unittest

ADD: doctest of `vshogi.Game.record_length` property
  python/vshogi/_game.py
Due: flake8, python-unittest

ADD: `vshogi.Game.dump_records()` method
  examples/dlshogi/main.py
  python/tests/test_vshogi/test_game.py
  python/vshogi/_game.py
Due: flake8, python-unittest

ADD: `vshogi::shogi::Game` class
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/minishogi/board.hpp
  cpp/include/vshogi/shogi/board.hpp
  cpp/include/vshogi/shogi/game.hpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.shogi.Game` class
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/include/vshogi/shogi/stand.hpp
  cpp/python/shogi.cpp
  cpp/python/vshogi.cpp
  cpp/python/vshogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_stand.cpp
  python/tests/test_vshogi/test_shogi/__init__.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/shogi/__init__.py
  python/vshogi/shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: _repr_***
  cpp/include/vshogi/animal_shogi/move.hpp
  python/vshogi/__init__.py
  python/vshogi/_enum.py
  python/vshogi/_repr.py
  python/vshogi/animal_shogi/__init__.py
  python/vshogi/minishogi/__init__.py
  python/vshogi/shogi/__init__.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

add example of shogi
  README.md
Due: none

version 0.0.2
  setup.cfg
Due: none

EDIT: refactor `vshogi::Game`, `vshogi::{minishogi, shogi}::Game`
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/minishogi/board.hpp
  cpp/include/vshogi/minishogi/game.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/minishogi/stand.hpp
  cpp/include/vshogi/shogi/board.hpp
  cpp/include/vshogi/shogi/game.hpp
  cpp/include/vshogi/shogi/stand.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of vshogi.shogi's stand KE
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/minishogi/stand.hpp
  cpp/include/vshogi/shogi/stand.hpp
  cpp/tests/test_vshogi/test_shogi/test_stand.cpp
  python/tests/test_vshogi/test_minishogi/test_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: fix typo Jedkins -> Judkins
  README.md
Due: none

ADD: `dlshogi.py`
  examples/dlshogi.py
  examples/dlshogi/main.py
Due: flake8, python-unittest

ADD: vshogi.shogi
  python/vshogi/__init__.py
Due: flake8, python-unittest

FIX
  cpp/python/vshogi.hpp
Due: clang-format, cpp-unittest, python-setup, python-unittest

FIX: bug fix of `vshogi::minishogi::Board::set_sfen()`
  cpp/include/vshogi/minishogi/board.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: dlshogi option for installation
  .github/workflows/run-dlshogi.yaml
  setup.cfg
Due: none

ADD: vshogi.judkins_shogi
  .github/workflows/run-dlshogi.yaml
  README.md
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/judkins_shogi/board.hpp
  cpp/include/vshogi/judkins_shogi/game.hpp
  cpp/include/vshogi/judkins_shogi/move.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/judkins_shogi/stand.hpp
  cpp/include/vshogi/judkins_shogi/state.hpp
  cpp/python/judkins_shogi.cpp
  cpp/python/vshogi.cpp
  cpp/src/vshogi/judkins_shogi/board.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_judkins_shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_piece.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_state.cpp
  examples/dlshogi.py
  python/vshogi/__init__.py
  python/vshogi/judkins_shogi/__init__.py
  python/vshogi/judkins_shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: vshogi::*::Pieces::num_stand_piece_types
  cpp/include/vshogi/animal_shogi/move.hpp
  cpp/include/vshogi/animal_shogi/piece.hpp
  cpp/include/vshogi/judkins_shogi/move.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/minishogi/move.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/move.hpp
  cpp/include/vshogi/shogi/move.hpp
  cpp/include/vshogi/shogi/piece.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor vshogi::Move
  cpp/include/vshogi/animal_shogi/move.hpp
  cpp/include/vshogi/judkins_shogi/move.hpp
  cpp/include/vshogi/minishogi/move.hpp
  cpp/include/vshogi/move.hpp
  cpp/include/vshogi/shogi/move.hpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  cpp/tests/test_vshogi/test_shogi/test_move.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: vshogi::*::Squares::dlshogi_direction_array
  cpp/include/vshogi/animal_shogi/squares.hpp
  cpp/include/vshogi/judkins_shogi/move.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/move.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/move.hpp
  cpp/include/vshogi/shogi/move.hpp
  cpp/include/vshogi/shogi/squares.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: vshogi::*::Squares::get_direction_of_src
  cpp/include/vshogi/direction.hpp
  cpp/include/vshogi/judkins_shogi/move.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/move.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/move.hpp
  cpp/include/vshogi/shogi/move.hpp
  cpp/include/vshogi/shogi/squares.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_judkins_shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_shogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor vshogi::Game
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/game.hpp
  cpp/include/vshogi/minishogi/game.hpp
  cpp/include/vshogi/shogi/game.hpp
  cpp/include/vshogi/state.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor pyvshogi::export_*
  cpp/include/vshogi/animal_shogi/board.hpp
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/python/animal_shogi.cpp
  cpp/python/judkins_shogi.cpp
  cpp/python/minishogi.cpp
  cpp/python/shogi.cpp
  cpp/python/vshogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of vshogi.Game.is_legal
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/shogi/squares.hpp
  cpp/include/vshogi/state.hpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: vshogi::engine::Node::explore() method uses set_value_action_proba automatically when it reaches a game end
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: option to resume RL cycle
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: vshogi::engine::Node::set_value_policy_logits
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/tests/test_vshogi/test_play.py
  python/vshogi/_game.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
