Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

EDIT: removed unnecessary member variable `vshogi::engine::Node<Game, Move>::m_value_arctanh`
  cpp/include/vshogi/engine/mcts.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: rename source files for python extensions
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/python/vshogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, python-setup, python-unittest

EDIT: vshogi.Game.__array__ -> vshogi.Game.to_dlshogi_features
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
  setup.cfg
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

EDIT: deepcopy(vshogi.Game()) -> vshogi.Game.copy()
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

EDIT: faster `vshogi.Game.copy`
  python/vshogi/_game.py
Due: flake8, python-unittest

EDIT: use nanobind for C++ extension
  .pre-commit-config.yaml
  cpp/python/CMakeLists.txt
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/python/vshogi_extension.cpp
  cpp/python/vshogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  pyproject.toml
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/tests/test_vshogi/test_minishogi/test_piece.py
  python/tests/test_vshogi/test_minishogi/test_square.py
  python/vshogi/__init__.py
  python/vshogi/_game.py
  python/vshogi/_play.py
  python/vshogi/_repr.py
  python/vshogi/animal_shogi/__init__.py
  python/vshogi/animal_shogi/_game.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_mcts.py
  python/vshogi/judkins_shogi/__init__.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/__init__.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/__init__.py
  python/vshogi/shogi/_game.py
  setup.cfg
  setup.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

ADD: `out` parameter to `vshogi.Game.to_dlshogi_features()` for speed up
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

EDIT: vshogi::State::append_legal_moves_by_board_piece for speed up
  cpp/include/vshogi/animal_shogi/squares.hpp
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/shogi/squares.hpp
  cpp/include/vshogi/state.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: faster vshogi::*::BitBoard::get_attacks_by() when no `occupied` argument passed
  cpp/include/vshogi/animal_shogi/board.hpp
  cpp/include/vshogi/animal_shogi/squares.hpp
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/include/vshogi/shogi/squares.hpp
  cpp/src/vshogi/minishogi/bitboard.cpp
  cpp/src/vshogi/shogi/bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: split in_check() method for drop and board move
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/state.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: Squares::get_direction_of_src -> Squares::get_direction(dst, src)
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/move.hpp
  cpp/include/vshogi/shogi/squares.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_judkins_shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_shogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: removed unnecessary member function `vshogi::State::is_legal()`
  cpp/include/vshogi/animal_shogi/state.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/state.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `vshogi::State::get_legal_moves` now use parameter reference for output
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/state.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: update result when an illegal move is applied
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/game.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: faster legal moves generation when king in check
  cpp/include/vshogi/animal_shogi/bitboard.hpp
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/animal_shogi/piece.hpp
  cpp/include/vshogi/animal_shogi/squares.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/include/vshogi/shogi/squares.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: store king_locations and checkers
  cpp/include/vshogi/animal_shogi/board.hpp
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/animal_shogi/piece.hpp
  cpp/include/vshogi/animal_shogi/state.hpp
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/shogi/squares.hpp
  cpp/include/vshogi/state.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: add C++ profiling workflow
  .github/workflows/run-cpp-profile.yaml
Due: none

ADD: support macosx clang
  cpp/cmake/VShogiAddCompileOptions.cmake
  cpp/tests/CMakeLists.txt
Due: none

FIX: bug fix of `get_direction` of knight moves
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/shogi/squares.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: faster `shift()` using table
  cpp/include/vshogi/animal_shogi/squares.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/shogi/squares.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: generate legal moves by board pieces based on source position when not in check
  cpp/include/vshogi/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `Pieces::is_ranging()`
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/shogi/piece.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `Pieces::is_ranging` -> `Pieces::is_ranging_to`
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/shogi/piece.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactoring
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/shogi/squares.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: table of non-ranging attacks for faster legal move generation
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/src/vshogi/judkins_shogi/bitboard.cpp
  cpp/src/vshogi/minishogi/bitboard.cpp
  cpp/src/vshogi/shogi/bitboard.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of vshogi::judkins_shogi::BitBoard::get_attacks_by(KA or UM)
  .github/workflows/run-cpp-profile.yaml
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `BitBoard::get_squares_along`
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/src/vshogi/judkins_shogi/bitboard.cpp
  cpp/src/vshogi/minishogi/bitboard.cpp
  cpp/src/vshogi/shogi/bitboard.cpp
  cpp/tests/test_main.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactoring king move generation
  cpp/include/vshogi/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: replace `to_sfen*` -> `append_sfen` for speeding up
  cpp/include/vshogi/animal_shogi/piece.hpp
  cpp/include/vshogi/animal_shogi/stand.hpp
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/judkins_shogi/stand.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/minishogi/stand.hpp
  cpp/include/vshogi/shogi/piece.hpp
  cpp/include/vshogi/shogi/stand.hpp
  cpp/include/vshogi/state.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_judkins_shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_piece.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_minishogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_piece.cpp
  cpp/tests/test_vshogi/test_minishogi/test_stand.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_piece.cpp
  cpp/tests/test_vshogi/test_shogi/test_shogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_stand.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `vshogi::engine::Node`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: automatically end game by king entering
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/include/vshogi/shogi/piece.hpp
  cpp/include/vshogi/state.hpp
  cpp/tests/test_vshogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_minishogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: learning rate option
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: add template class `vshogi::{BlackWhiteStands, Stand}<>`
  cpp/include/vshogi/animal_shogi/piece.hpp
  cpp/include/vshogi/animal_shogi/stand.hpp
  cpp/include/vshogi/animal_shogi/state.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/judkins_shogi/stand.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/minishogi/stand.hpp
  cpp/include/vshogi/shogi/piece.hpp
  cpp/include/vshogi/shogi/stand.hpp
  cpp/include/vshogi/stand.hpp
  cpp/include/vshogi/state.hpp
  cpp/src/vshogi/animal_shogi/stand.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_judkins_shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_minishogi/test_minishogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_stand.cpp
  cpp/tests/test_vshogi/test_shogi/test_shogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_stand.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::State::zobrist_hash()` and use hash value to check repetitions
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/animal_shogi/piece.hpp
  cpp/include/vshogi/animal_shogi/state.hpp
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/judkins_shogi/state.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/minishogi/state.hpp
  cpp/include/vshogi/move.hpp
  cpp/include/vshogi/shogi/piece.hpp
  cpp/include/vshogi/shogi/state.hpp
  cpp/include/vshogi/stand.hpp
  cpp/include/vshogi/state.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/tests/test_main.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: change default temperature value of selecting actions in MCTS, 1.0 -> 0.1
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: replace use of `atanh` in q-value computation with hand-craft rules
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of check of Knight
  cpp/include/vshogi/shogi/squares.hpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: add shogi node test
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: change network architecture to cope with ranging attacks
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: `license_file` -> `license_files`
  setup.cfg
Due: none

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
