Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

EDIT: update clang-format version to v20
  .pre-commit-config.yaml
  cpp/include/vshogi/common/generators/soldier.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `dfpn::Searcher` inherits `tree::Searcher`
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: replace `classopt` -> `click`
  .github/workflows/check_selfplay_dataset.py
  python/scripts/run_alpha_zero.py
  setup.cfg
Due: flake8, python-unittest

add GumbelAlphaZero training in github action
  .github/workflows/check_selfplay_dataset.py
  .github/workflows/run-dlshogi.yaml
Due: flake8, python-unittest

EDIT: refactor dlshogi network
  python/tests/test_vshogi/test_dlshogi/test_depthwise_attention.py
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/tests/test_vshogi/test_dlshogi/test_policy_head.py
  python/tests/test_vshogi/test_dlshogi/test_residual_block.py
  python/tests/test_vshogi/test_dlshogi/test_value_head.py
  python/vshogi/dlshogi/__init__.py
  python/vshogi/dlshogi/_network/__init__.py
  python/vshogi/dlshogi/_network/_depthwise_attention.py
  python/vshogi/dlshogi/_network/_network.py
  python/vshogi/dlshogi/_network/_policy_head.py
  python/vshogi/dlshogi/_network/_residual_block.py
  python/vshogi/dlshogi/_network/_value_head.py
Due: flake8, python-unittest

EDIT: `tp.List[...]` -> `list[...]`
  python/vshogi/_game.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_gaz.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

EDIT: `eval(...)` -> `ast.literal_eval(...)`
  .github/workflows/check_selfplay_dataset.py
  python/vshogi/dlshogi/_read_kifu.py
  python/vshogi/dlshogi/_replay_buffer.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

EDIT: Use f-string instead of `format` call
  python/vshogi/_cli/_match.py
  python/vshogi/_to_svg.py
Due: flake8, python-unittest

EDIT: more explicit type annotation `T | None`
  python/vshogi/_game.py
  python/vshogi/dlshogi/_train.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
Due: flake8, python-unittest

EDIT: Replace `yield` over `for` loop with `yield from`
  python/vshogi/engine/_engine.py
Due: flake8, python-unittest

EDIT: Use `dict` instead of `tp.Dict` for type annotation
  python/vshogi/_game.py
  python/vshogi/engine/_az.py
Due: flake8, python-unittest

EDIT: removed unnecessary `pass` statement
  python/vshogi/engine/_engine.py
Due: flake8, python-unittest

EDIT: tp.Union[X, Y]` -> `X | Y`
  python/vshogi/_game.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
Due: flake8, python-unittest

EDIT: tp.Optional[X]` -> `X | None`
  python/vshogi/_game.py
  python/vshogi/_to_svg.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/dlshogi/_train.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
Due: flake8, python-unittest

EDIT: Remove unused `noqa` directive
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

EDIT: `tp.Tuple[...]` -> `tuple[...]`
  python/vshogi/_game.py
  python/vshogi/dlshogi/_network/_network.py
  python/vshogi/dlshogi/_policy_value_function.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_gaz.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

EDIT: remove noqa whole file
  python/vshogi/dlshogi/_network/_network.py
Due: flake8, python-unittest

EDIT: replace `str()` inside of f-string with explicit format
  python/vshogi/_game.py
Due: flake8, python-unittest

EDIT: remove unnecessary comprehensions
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_replay_buffer.py
  python/vshogi/engine/_az.py
Due: flake8, python-unittest

EDIT: break lines
  python/vshogi/_to_svg.py
Due: flake8, python-unittest

EDIT: define `__slots__` for subclasses of `str`
  python/vshogi/_to_svg.py
Due: flake8, python-unittest

EDIT: replace explicit str concat with that of implicit
  python/vshogi/_to_svg.py
Due: flake8, python-unittest

tmp
  pyproject.toml
  setup.cfg
Due: none

EDIT: Use specific rule codes when using `noqa`
  python/vshogi/_to_svg.py
Due: flake8, python-unittest

EDIT: Use `super()` instead of `super(__class__, self)`
  python/vshogi/_cli/_match.py
Due: flake8, python-unittest

EDIT: replace assert with exception raise
  python/vshogi/dlshogi/_network/_depthwise_attention.py
Due: flake8, python-unittest

EDIT: Use defined annotations
  python/vshogi/_to_svg.py
Due: flake8, python-unittest

FIX: DFPN allocates 10 times more nodes than # of searchs in `Game.get_mate_moves_if_any()`
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/dlshogi/_replay_buffer.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

ADD: render captured pieces
  python/apps/templates/shogi_board.html
  python/apps/web_shogi.py
  python/vshogi/shogi/__init__.py
Due: flake8, python-unittest

ADD: render dragging object rotated as-is
  python/apps/templates/shogi_board.html
Due: none

tmp
  python/apps/templates/shogi_board.html
Due: none

ADD: feature to play Shogi against AlphaZero agent
  python/apps/web_shogi.py
Due: flake8, python-unittest

ADD: dnd to apply move
  python/apps/templates/shogi_board.html
  python/apps/web_shogi.py
Due: flake8, python-unittest

ADD: html file to render Shogi board
  python/apps/templates/shogi_board.html
  python/apps/web_shogi.py
  python/vshogi/shogi/__init__.py
Due: flake8, python-unittest

CHANGE: use clicks to select source and destination of a move
  python/apps/templates/shogi_board.html
  python/apps/web_shogi.py
Due: flake8, python-unittest

ADD: flask dependency
  python/apps/web_shogi.py
  setup.cfg
Due: flake8, python-unittest

EDIT: modify the way to identiy the current turn
  python/apps/templates/shogi_board.html
Due: none

ADD: ask user to promote a piece if possible
  python/apps/templates/shogi_board.html
  python/apps/web_shogi.py
Due: flake8, python-unittest

CHANGE: ask promotion if promotion is legal
  python/apps/templates/shogi_board.html
  python/apps/web_shogi.py
Due: flake8, python-unittest

ADD: highlight move source square
  python/apps/templates/shogi_board.html
Due: none
