Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

FIX: bug fix regarding move semantics for clang compiler
  cpp/include/vshogi/engine/mcts.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of `vshogi.engine.MonteCarloTreeSearcher.apply()`
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

ADD: `vshogi::engine::dfpn`
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/game.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi.py
  python/vshogi/_game.py
  python/vshogi/animal_shogi/_game.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_mcts.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: `MonteCarloTreeSearcher.apply()` raises not implemented error as it is something wrong
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

FIX: bug fix of result by king entering when game started from default position
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/tests/test_vshogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: run dlshogi training on Shogi game via github workflow
  .github/workflows/run-dlshogi.yaml
Due: none

EDIT: run dlshogi training in the following order: 1.self-play, 2.train-NN, 3.validation
  .gitignore
  examples/dlshogi.py
  setup.cfg
Due: flake8, python-unittest

ADD: horizontal flip augmentation in DL-shogi training
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/move.hpp
  cpp/include/vshogi/state.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  examples/dlshogi.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: change some configs of DL-Shogi training of Shogi
  .github/workflows/run-dlshogi.yaml
Due: none

ADD: `vshogi::Game::in_check_after_move()`
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: save executed script and command to keep configuration of DL-shogi training
  examples/dlshogi.py
Due: flake8, python-unittest

tmp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: change tree data structure of MCTS algorithm
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  python/tests/test_vshogi/test_engine/test_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: run self-play and validation of DL-shogi training in subprocess
  .github/workflows/run-dlshogi.yaml
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: use tf.data.Dataset.from_generator for training NN
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: use n-ary tree data structure for DFPN algorithm
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of DFPN algorithm regarding king entering declaration
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: use pseudo-random to determine whether to select random move or not
  cpp/include/vshogi/engine/mcts.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: pickle support of shogi moves
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, python-setup, python-unittest

CHANGE: 1. use multidilation in every resblock, 2. use BatchNormalization, 3. continue self-play until exceeding the past model stregth
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: enable checkmate search at leaf node of MCTS
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: look for checkmate at MCTS leaf nodes
  .github/workflows/run-dlshogi.yaml
  examples/dlshogi.py
Due: flake8, python-unittest

FIX: bug fix of MCTS random action selection
  cpp/include/vshogi/engine/mcts.hpp
  python/tests/test_vshogi/test_engine/test_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: run C++ profile on Shogi engine with MCTS+DFPN
  .github/workflows/run-cpp-profile.yaml
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: rename `vshogi::Game::{in_check_after_move -> is_check_move}` and runs faster
  .github/workflows/run-cpp-profile.yaml
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/game.hpp
  cpp/tests/test_vshogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: DFPN nodes store their corresponding game object for speed up
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: option to skip legality check of `vshogi::Game::is_check_move()`
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `vshogi::shogi::BitBoard::from_square()` is now not constexpr and uses table for speed up
  .github/workflows/run-cpp-profile.yaml
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/python/shogi_wrapper.cpp
  cpp/src/vshogi/shogi/bitboard.cpp
  cpp/tests/test_main.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: use `__uint128_t` when available
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/src/vshogi/shogi/bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Squares`
  cpp/include/vshogi/animal_shogi/bitboard.hpp
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/animal_shogi/squares.hpp
  cpp/include/vshogi/animal_shogi/state.hpp
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/direction.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/move.hpp
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/include/vshogi/shogi/squares.hpp
  cpp/include/vshogi/squares.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/src/vshogi/animal_shogi/board.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_animal_shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_judkins_shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_minishogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_shogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Pieces`
  cpp/include/vshogi/animal_shogi/bitboard.hpp
  cpp/include/vshogi/animal_shogi/game.hpp
  cpp/include/vshogi/animal_shogi/piece.hpp
  cpp/include/vshogi/animal_shogi/stand.hpp
  cpp/include/vshogi/animal_shogi/state.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/judkins_shogi/stand.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/minishogi/stand.hpp
  cpp/include/vshogi/pieces.hpp
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/include/vshogi/shogi/piece.hpp
  cpp/include/vshogi/shogi/stand.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/src/vshogi/animal_shogi/board.cpp
  cpp/src/vshogi/judkins_shogi/bitboard.cpp
  cpp/src/vshogi/judkins_shogi/board.cpp
  cpp/src/vshogi/minishogi/bitboard.cpp
  cpp/src/vshogi/minishogi/board.cpp
  cpp/src/vshogi/shogi/bitboard.cpp
  cpp/src/vshogi/shogi/board.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_animal_shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_judkins_shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_piece.cpp
  cpp/tests/test_vshogi/test_minishogi/test_minishogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_piece.cpp
  cpp/tests/test_vshogi/test_shogi/test_shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `BitBoard::get_squares_along` -> `Squares::get_squares_along`
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/squares.hpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/src/vshogi/judkins_shogi/bitboard.cpp
  cpp/src/vshogi/minishogi/bitboard.cpp
  cpp/src/vshogi/shogi/bitboard.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_piece.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_minishogi/test_piece.cpp
  cpp/tests/test_vshogi/test_minishogi/test_stand.cpp
  cpp/tests/test_vshogi/test_shogi/test_piece.cpp
  cpp/tests/test_vshogi/test_shogi/test_stand.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `{BitBoard -> Squares}::get_non_ranging_attacks_by`
  cpp/include/vshogi/animal_shogi/squares.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/judkins_shogi/squares.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/minishogi/squares.hpp
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/include/vshogi/shogi/squares.hpp
  cpp/include/vshogi/squares.hpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/src/vshogi/judkins_shogi/bitboard.cpp
  cpp/src/vshogi/minishogi/bitboard.cpp
  cpp/src/vshogi/shogi/bitboard.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::BitBoard`
  cpp/include/vshogi/animal_shogi/bitboard.hpp
  cpp/include/vshogi/bitboard.hpp
  cpp/include/vshogi/game.hpp
  cpp/include/vshogi/judkins_shogi/bitboard.hpp
  cpp/include/vshogi/minishogi/bitboard.hpp
  cpp/include/vshogi/shogi/bitboard.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/src/vshogi/minishogi/bitboard.cpp
  cpp/src/vshogi/shogi/bitboard.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Square::to_square(const char usi[2])`
  cpp/include/vshogi/animal_shogi/squares.hpp
  cpp/include/vshogi/squares.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.Move.to_usi()` and `vshogi.Move.__init__(self, usi: str)`
  cpp/include/vshogi/animal_shogi/piece.hpp
  cpp/include/vshogi/animal_shogi/squares.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/judkins_shogi/piece.hpp
  cpp/include/vshogi/minishogi/piece.hpp
  cpp/include/vshogi/move.hpp
  cpp/include/vshogi/pieces.hpp
  cpp/include/vshogi/shogi/piece.hpp
  cpp/include/vshogi/squares.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  cpp/tests/test_vshogi/test_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
  examples/dlshogi.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `vshogi.Game.to_dlshogi_policy(self, move: dict)`
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

CHANGE: some parameter changes
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: option to add fraction of game records by former models to train current model
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: `vshogi::Board::is_square_attacked`
  cpp/include/vshogi/board.hpp
  cpp/include/vshogi/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest
