Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

ADD: `Game.is_aigoma()`
  cpp/include/vshogi/common/game.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `Game.{_apply_discard, _undo_discard}()` method
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `engine.search_nply_mate` -> `solve_tsumeshogi`
  python/tests/test_vshogi/test_minishogi/test_search_nply_mate.py
  python/tests/test_vshogi/test_shogi/test_search_nply_mate.py
  python/tests/test_vshogi/test_tsume.py
  python/vshogi/__init__.py
  python/vshogi/_tsume.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

CHANGE: exclude ai-edge-torch version 0.7.2
  pyproject.toml
Due: none

ADD: `exact` parameter in `solve_tsumeshogi()` function
  python/tests/test_vshogi/test_tsume.py
  python/vshogi/_tsume.py
Due: flake8, python-unittest

CHANGE: kifu file contains distribution of policy instead of visit counts, #56
  python/tests/test_vshogi/test_dlshogi/test_read_kifu.py
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/dlshogi/_read_kifu.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

CHANGE: use improved policy to random sample an action from GumbelAlphaZero
  cpp/include/vshogi/engine/gaz/node.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/src/vshogi/engine/gaz/node.cpp
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/engine/_gaz.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: fixed a bug that tried to minimize entropy, which is now trying to maximize (or minimize negative) entropy.
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

EDIT: `_search_offence()` returns minimum length mates only
  python/vshogi/_tsume.py
Due: flake8, python-unittest

CHANGE: `ReplayBuffer` automatically merges supervision signals when added
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_data.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

CHANGE: remove +1 visit count smoothing, and change the default entropy regularization
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

ADD: stub annotated `Move` classes
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/python/vshogi_wrapper.cpp
  python/vshogi/_game.py
  python/vshogi/_move.py
  python/vshogi/_to_svg.py
  python/vshogi/_tsume.py
  python/vshogi/dlshogi/_data.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
  python/vshogi/judkins_shogi/__init__.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/judkins_shogi/_judkins_shogi.pyi
  python/vshogi/minishogi/__init__.py
  python/vshogi/minishogi/_game.py
  python/vshogi/minishogi/_minishogi.pyi
  python/vshogi/shogi/__init__.py
  python/vshogi/shogi/_game.py
  python/vshogi/shogi/_shogi.pyi
  setup.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

CHANGE: play games with models from 10+ generations earlier
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

CHANGE: remove extra parameters in `Game.{apply, is_legal, is_aigoma, ...}`
  python/vshogi/_game.py
Due: flake8, python-unittest

EDIT: fix c++ file to pass clang-format
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, python-setup, python-unittest

EDIT: migrate Python bindings from pybind11 to nanobind
  .github/workflows/run-checks.yaml
  .pre-commit-config.yaml
  README.md
  cpp/python/CMakeLists.txt
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/python/vshogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  docs/CONTRIBUTING.md
  docs/devlog/devlog_20260211_nanobind.md
  pyproject.toml
  setup.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

CHANGE: set lower bound (= 0.1) of sample fraction from kifu dataset
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

FIX: initialize, probability vector in `gaz::Searcher::select_action(const float)`
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `ReplayBuffer` update policies and values by moving averaging the same game positions
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_data.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

CAHNGE: `get_q_value()` returns policy weighted q-value
  cpp/include/vshogi/engine/az/node.hpp
  cpp/python/vshogi_wrapper.cpp
  cpp/src/vshogi/engine/az/node.cpp
  cpp/src/vshogi/engine/gaz/node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_gaz.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: remove animal shogi tests
  python/tests/test_vshogi/test_animal_shogi/__init__.py
  python/tests/test_vshogi/test_animal_shogi/test_game.py
Due: flake8, python-unittest

EDIT: fix nanobind leaks in pytest
  docs/devlog/devlog_20260215_nanobind_leaks.md
  python/tests/test_vshogi/test_shogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_to_eng.py
  python/tests/test_vshogi/test_shogi/test_to_jpn.py
  python/tests/test_vshogi/test_shogi/test_to_sfen.py
Due: flake8, python-unittest

ADD: raise ValueError in `game.undo()` if it fails
  python/vshogi/_game.py
Due: flake8, python-unittest

ADD: option to control whether to always backup result value or not
  python/tests/test_vshogi/test_dlshogi/test_read_kifu.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

FIX: `AlphaZero` raises a ValueError when calling `select()` before `search()`
  cpp/include/vshogi/engine/az/searcher.hpp
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/vshogi/engine/_engine.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: `gaz::Node::get_q_value()` return `v_pi`
  cpp/src/vshogi/engine/gaz/node.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: `az::Searcher::select_action()` return valid action without segmentation fault even if a random distribution returned a large value
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: change result backup rate from 0.5 to 0.1
  docs/devlog/devlog_20260221_alpha_zero_value_targets.md
  python/tests/test_vshogi/test_dlshogi/test_read_kifu.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

FIX: add a nullptr check in `az::Node::simulate_mate_and_expand` to prevent segfaults when the tree is already full
  cpp/src/vshogi/engine/az/node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: change default result backup strategy from 'best' to 'always'
  docs/devlog/devlog_20260223_alpha_zero_backup_strategy.md
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

FIX: `az::Searcher::select_action()` returns action by searching through all childs if root node has no valid `m_child_1st` yet.
  cpp/include/vshogi/engine/az/searcher.hpp
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/vshogi/_cli/_match.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: option to whether to resume or reset optimizer state
  docs/devlog/devlog_20260223_alpha_zero_optimizer_state.md
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

CHANGE: change default buffer decay rate from 0.9 to 0.0
  docs/devlog/devlog_20260301_replay_buffer.md
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

CHANGE: `ReplayBuffer.{normalize->averagize}()`
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

CHANGE: set the default value of `result-backup-rate` to 0.3
  docs/devlog/devlog_20260304_replay_buffer_averagize.md
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

ADD: option to control whether to averagize buffer data or not
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

CHANGE: averagize option averagize latest policy regime data only
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

ADD: add `Data.malignancy` member to set a lifespan of a data in reforcement learning cycle
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_data.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

ADD: `--off-policy-rate` option to control lifespan of previously buffered samples
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
