Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

CHANGE: remove game parameter from `mcts::Node::select()`
  cpp/include/vshogi/engine/mcts/node.hpp
  cpp/include/vshogi/engine/mcts/searcher.hpp
  cpp/src/vshogi/engine/mcts/node.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `mcts::Node::expand()` expands child nodes by iterating generator instead of container
  cpp/include/vshogi/engine/mcts/node.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: rename MCTS -> Alpha Zero
  .github/workflows/run-dlshogi.yaml
  .github/workflows/run-profile.yaml
  cpp/include/vshogi/engine/az/node.hpp
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/python/vshogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/src/vshogi/engine/az/node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
  cpp/tests/test_vshogi/test_profile.cpp
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/tests/test_vshogi/test_play.py
  python/vshogi/__main__.py
  python/vshogi/_game.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_az.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `vshogi.engine.GumbelAlphaZero`
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/engine/az/node.hpp
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/gaz/node.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/node.hpp
  cpp/python/vshogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/src/vshogi/engine/gaz/node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_searcher.cpp
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/vshogi/_game.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_gaz.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: ignore some temporal folders
  .gitignore
Due: none

ADD: `tree::Node::count_childs()`
  cpp/include/vshogi/engine/az/node.hpp
  cpp/include/vshogi/engine/gaz/node.hpp
  cpp/include/vshogi/engine/tree/node.hpp
  cpp/src/vshogi/engine/az/node.cpp
  cpp/src/vshogi/engine/gaz/node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `tree::Node::{m_most_visited_child -> m_child_1st}`
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/node.hpp
  cpp/src/vshogi/engine/az/node.cpp
  cpp/src/vshogi/engine/gaz/node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: move `m_action` into `tree::Node` class
  cpp/include/vshogi/engine/az/node.hpp
  cpp/include/vshogi/engine/gaz/node.hpp
  cpp/include/vshogi/engine/tree/node.hpp
  cpp/src/vshogi/engine/az/node.cpp
  cpp/src/vshogi/engine/gaz/node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: check if a node has a child in `Node::backprop()` to prevent setting `m_is_mate = true`
  cpp/src/vshogi/engine/az/node.cpp
  cpp/src/vshogi/engine/gaz/node.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: expand `gaz::Node` by generator of legal moves instead of container of legal moves
  cpp/include/vshogi/engine/gaz/node.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: AlphaZero allocates tree nodes first
  cpp/include/vshogi/engine/az/node.hpp
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/gaz/node.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/node.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/src/vshogi/engine/az/node.cpp
  cpp/src/vshogi/engine/gaz/node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_searcher.cpp
  cpp/tests/test_vshogi/test_profile.cpp
  python/vshogi/engine/_az.py
  python/vshogi/engine/_gaz.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: base class for searchers, `vshogi::engine::tree::Searcher`
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/searcher.hpp
  cpp/tests/test_vshogi/test_profile.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `tree::Searcher::backprop_to_root()`
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `gaz::Node::expand`, expand child nodes without container
  cpp/include/vshogi/engine/gaz/node.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `GumbelAlphaZero.apply()`
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_searcher.cpp
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/vshogi/engine/_gaz.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: `run-checks.yaml`
  .github/workflows/run-checks.yaml
Due: none

EDIT: `dfpn::Node` based on `tree::Node`
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/python/vshogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `Engine.{num_searched -> get_search_count()}`
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
Due: flake8, python-unittest

ADD: `temperature` parameter to `GumbelAlphaZero.select_action()` method
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_searcher.cpp
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/vshogi/engine/_gaz.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: use `Engine.get_search_count()` to fix error occurred in `__main__.py`
  python/vshogi/_play.py
Due: flake8, python-unittest

ADD: `vshogi.dlshogi.ReplayBuffer`
  examples/dlshogi.py
  python/vshogi/dlshogi/__init__.py
  python/vshogi/dlshogi/_data.py
  python/vshogi/dlshogi/_replay_buffer.py
  python/vshogi/dlshogi/_train.py
  setup.cfg
Due: flake8, python-unittest

EDIT: move validation step inside of training step
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: `vshogi.dlshogi.Data.{visit_dist -> policy}`
  .pre-commit-config.yaml
  examples/dlshogi.py
  python/vshogi/dlshogi/_data.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

EDIT: add docstring example of `ReplayBuffer` class
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

CHANGE: `kifu.tsv` stores integer result from the view of the turn player
  .github/workflows/check_selfplay_dataset.py
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: `vshogi.dlshogi.read_kifu()`
  examples/dlshogi.py
  python/vshogi/dlshogi/__init__.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

CHANGE: make cli structured by sub-commands
  .github/workflows/run-dlshogi.yaml
  python/vshogi/__main__.py
  python/vshogi/_cli/__init__.py
  python/vshogi/_cli/_match.py
Due: flake8, python-unittest

ADD: subcommand `python -m vshogi dlshogi nn-trainer`
  .github/workflows/check_selfplay_dataset.py
  .github/workflows/run-dlshogi.yaml
  .pre-commit-config.yaml
  examples/dlshogi.py
  pyproject.toml
  python/vshogi/__main__.py
  python/vshogi/dlshogi/_cli_nn_trainer.py
  setup.cfg
Due: flake8, python-unittest

ADD: subcommand `python -m vshogi dlshogi cycler`
  .github/workflows/run-dlshogi.yaml
  examples/dlshogi.py
  python/vshogi/__main__.py
  python/vshogi/dlshogi/_cli/__init__.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

ADD: subcommand `python -m vshogi dlshogi self-play-worker`
  python/vshogi/dlshogi/_cli/__init__.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

ADD: option to use GumbelAlphaZero engine in `python -m vshogi dlshogi` command
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

CHANGE: add time out exception catch in self-play parallel jobs
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

EDIT: move `examples/dlshogi_model.py` -> `python/scripts/run_alpha_zero.py`
  .github/workflows/run-python-profile.yaml
  .pre-commit-config.yaml
  python/scripts/run_alpha_zero.py
  setup.cfg
Due: flake8, python-unittest

EDIT: show choices of `--device` and `--play-device` in help
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

CHANGE: do not raise error when passing small value `num_sims` to compared to `num_actions` in `GumbelAlphaZero.search()`
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/vshogi/engine/_gaz.py
Due: flake8, python-unittest

ADD: `Engine.select()`
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
Due: flake8, python-unittest

ignore `python/scripts/` when collecting tests by pytest
  pyproject.toml
Due: none

ADD: option to specify output direction in `vshogi dlshogi cycler`
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

CHANGE: `vshogi dlshogi cycler` uses piece value function instead of initialized nn in the first cycle
  python/vshogi/dlshogi/_cli/_cycler.py
Due: flake8, python-unittest

ADD: `dfpn::Searcher::select()`
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest
