Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

CHANGE: remove placeholders and use `Dataset.batch()` method.
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: use `tf.reduce_logsumexp()` instead of `tf.math.exp` and `tf.reduce_sum`
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: replace **random** hflip augmentation training with training on double sized dataset consisting of normal data and hflip ones
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

ADD: `Concat8Directions` layer to grasp long range relations
  .github/workflows/run-dlshogi.yaml
  examples/dlshogi.py
Due: flake8, python-unittest

BUGFIX: fixed a bug regarding drop pawn mate
  cpp/include/vshogi/common/game.hpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

BUGFIX: fixed a bug that DFPN failed to search for checkmate that includes discovered check by moving king
  cpp/include/vshogi/common/game.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: shogi engine benchmark test uses cache of DFPN results
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

BUGFIX: fixed a bug that failed to find checkmate that involves discovered check
  cpp/include/vshogi/common/game.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: refactor github actions for C++ profiling
  .github/workflows/run-cpp-profile.yaml
Due: none

ADD: feature to stop searching duplicate positions in DFPN algorithm
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: cache only offence game positions
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: defence side prefers capturing checker piece in DFPN
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: reduce memory usage
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: check duplicating game positions solely based on board info in DFPN algorithm
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: remove template argument `Attacker` from `dfpn::Node` class
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: cosine decay of learning rate
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: `mcts_kldgain_threshold` option to stop MCT-search earlier
  .github/workflows/run-dlshogi.yaml
  examples/dlshogi.py
  python/vshogi/__main__.py
  python/vshogi/engine/_dfpn_mcts.py
Due: flake8, python-unittest

CHANGE: proximal value clipping -> mean of Z and Q values
  examples/dlshogi.py
Due: flake8, python-unittest

REMOVE: remove dfpn feature inside mcts
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: remove visit counts by random selection from `mcts::Node::get_action_by_...`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: KL(prev_proba || curr_proba) -> KL(curr_proba || prev_proba) when computing kldgain
  python/vshogi/engine/_dfpn_mcts.py
Due: flake8, python-unittest

ADD: `select_args` parameter in `vshogi.play_game`
  python/vshogi/__main__.py
  python/vshogi/_play.py
Due: flake8, python-unittest

ADD: prefetch minibatch data
  examples/dlshogi.py
Due: flake8, python-unittest

CAHNGE: play game with another player for generating training dataset in addition to self-play
  examples/dlshogi.py
  python/vshogi/_game.py
Due: flake8, python-unittest

FIX: bugfix of self-play index count
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: change threshold of adding another_player
  examples/dlshogi.py
Due: flake8, python-unittest

BUGFIX: bug fix of boltzmann distribution
  cpp/include/vshogi/engine/mcts.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

use latest tensorflow
  examples/dlshogi.py
  setup.cfg
Due: flake8, python-unittest

use `interleave()` method to reduce buffer size of shuffling
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: increase maximum number of tfrecord files for training
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: label smoothing of policy
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: train network from previous training in the same cycle if exist
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: add another path in multidilation resblock
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: CLI support passing `--mcts_temperature 0`
  python/vshogi/__main__.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

ADD: add description in progress bar of self-play
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: change some parameters of mcts::Node methods
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: member `mcts::Node::m_most_visited_child`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: greedy q-value
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: first play urgency equals parent q-value
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: change default greedy depth when computing Q-value as there is no significant improvement found: 3 -> 1
  examples/dlshogi.py
Due: flake8, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
