Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

ADD: `vshogi.Game.masked_softmax()`
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: change buffer size for better shuffling
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: edit description of progress bar for self-play data generation
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: varying value target
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: CLI support round robin match of multiple players
  .github/workflows/run-dlshogi.yaml
  python/vshogi/__main__.py
Due: flake8, python-unittest

CHANGE: varying value target using z_weight
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: drop mates from network training
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: train only on value targets from mate moves
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: number of random moves is a random number between 0 to average_game_length times mcts_random_rate
  examples/dlshogi.py
Due: flake8, python-unittest

FIX: most visited child based on visit count excluding random instead of including random
  cpp/include/vshogi/engine/mcts.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: change network structure of value head
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: load previous checkpoint only if it exists
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: rename `vshogi.engine.MonteCarloTreeSearcher` -> `vshogi.engine.Mcts`
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_dfpn_mcts.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/tests/test_vshogi/test_play.py
  python/vshogi/__main__.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

ADD: `vshogi.engine.Engine`
  python/vshogi/engine/__init__.py
Due: flake8, python-unittest

ADD: Config class to store hyperparameters for each variant of Shogi
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/src/vshogi/variants/animal_shogi.cpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_minishogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: cosine learning decay from 1.0 to 0.5
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: use consecutive indexing for `PieceTypeEnum` members
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

remove unnecessary config parameter: `dir_array`, `dir_dl_array`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/direction.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `vshogi::BitBoard::get_attacks_by()` uses redundant attack table
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::BitBoard::operator^`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: template parameter to function parameter `vshogi::BitBoard::shift()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: remove `test_vshogi/test_minishogi/test_minishogi.hpp`
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_minishogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_stand.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: unnecessary method `vshogi::BitBoard::expand_neighbor()`
  cpp/include/vshogi/common/bitboard.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: unnecessary method `vshogi::Board::find_pinned()`
  cpp/include/vshogi/common/board.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `vshogi::Pieces::promote()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_minishogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `vshogi::Board::apply()` method to modify piece positions
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/src/vshogi/variants/animal_shogi.cpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `vshogi::Squares::square_array[]`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  python/vshogi/_game.py
  python/vshogi/animal_shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: `vshogi::State::to_index()` utilizes consecutive enumeration of piece types
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: move zobrist hash table for stand to `vshogi::BlackWhiteStands` from `vshogi::State`
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/src/vshogi/variants/animal_shogi.cpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_stand.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: move zobrist hash table for board to `vshogi::Board` from `vshogi::Board`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/src/vshogi/variants/animal_shogi.cpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `vshogi::BlackWhiteStands::{subtract_piece_from -> pop_piece_from}`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_stand.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `vshogi::{State, Game}::{board_piece_types, stand_piece_types}()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: private member `vshogi::Game::m_king_locations`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `vshogi::Pieces::{piece_array[], stand_piece_array[]}`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `vshogi::{shogi}::Config::max_stand_sfen_length`
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_stand.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::EnumIterator`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/direction.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `vshogi::Squares::{file_array, rank_array}`
  cpp/include/vshogi/common/squares.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: remove unnecessary private member `vshogi::State::zobrist_board`
  cpp/include/vshogi/common/state.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `vshogi::{BoardPieceTypeEnum -> ColoredPieceEnum}`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: Enumeration of shogi board files start from the left most file (0) for consistency
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
