Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

CHANGE: use kernel size 1x9 and 9x1
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: `vshogi::Magic`
  cpp/.clang-format
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `vshogi::Squares::get_non_ranging_attacks_by`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.dlshogi` module
  examples/dlshogi.py
  python/vshogi/__init__.py
  python/vshogi/dlshogi/__init__.py
  python/vshogi/dlshogi/_policy_value_function.py
  setup.cfg
Due: flake8, python-unittest

ADD: `vshogi.dlshogi.build_policy_value_network`
  .github/workflows/run-checks.yaml
  .github/workflows/run-python-profile.yaml
  .pre-commit-config.yaml
  examples/dlshogi_model.py
  python/vshogi/__init__.py
  python/vshogi/dlshogi/__init__.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

ADD: `vshogi.Game.attention_matrix()`
  cpp/include/vshogi/common/game.hpp
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: use attention matrix in policy-value network
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
  python/vshogi/dlshogi/_network.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: use functions to compute vertical and horizontal attention instead of matrix
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

ADD: `vshogi.engine.DfpnMcts` has a new option to use different MCTS in end-game
  python/vshogi/__main__.py
  python/vshogi/dlshogi/_network.py
  python/vshogi/dlshogi/_policy_value_function.py
  python/vshogi/engine/_dfpn_mcts.py
Due: flake8, python-unittest

ADD: class method `vshogi.Game.get_attention()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: use whole attention matrix as a constraint of dense kernel
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

output Python profile result using cProfile
  .github/workflows/run-python-profile.yaml
Due: none

EDIT: template parameter of `vshogi::engine::mcts::{Node, Searcher}`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of `vshogi::{CheckDropMoveGenerator, DropMoveGenerator}`
  cpp/include/vshogi/common/generator.hpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::engine::mcts::Searcher::evaluate_by_random_playout`
  .github/workflows/run-cpp-profile.yaml
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.engine.Mcts()` is optional to pass policy_value_func
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi_model.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

CHANGE: start RL cycle from Random Playout MCTS instead of MCTS with random weight network
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `vshogi::engine::mcts::Searcher::evaluate_by_random_playout`
  .github/workflows/run-cpp-profile.yaml
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  examples/dlshogi.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: bug fix of minishogi magics
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: random select a legal action without creating a list of options
  cpp/include/vshogi/engine/mcts.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::is_{adjacent, diagonal}_direction()`
  cpp/include/vshogi/common/direction.hpp
  cpp/tests/test_vshogi/test_direction.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Board::get_occupied(const {PieceType&, ColoredPiece&})`
  cpp/include/vshogi/common/board.hpp
  cpp/src/vshogi/variants/animal_shogi.cpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `vshogi::Board::is_square_attacked()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Board::find_ranging_attacker`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: define random engine and dist in `utils.hpp`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/engine/mcts.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::NonKingBoardMoveGenerator::random_select()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_stand.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Board::find_pinned()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `vshogi::NonKingBoardMoveGenerator` uses pinned mask
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::NoPromoMoveGenerator`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: remove duplicate check while random playout
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: option to use EMA parameter update
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: use EMA parameter update
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: option to control entropy reguralization
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: delay initialization of move generator in random playout
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `vshogi.{}.Board.__repr__()`
  cpp/include/vshogi/common/board.hpp
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/_repr.py
  python/vshogi/judkins_shogi/__init__.py
  python/vshogi/minishogi/__init__.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/__init__.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: `vshogi::{State, Game}::{squares() -> num_squares}`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: split workflows
  .github/workflows/run-mcts-dfpn_profile.yaml
  .github/workflows/run-random-playout-profile.yaml
Due: none
