Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

EDIT: dfpn::Node::select
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: add `Board::m_bb_ranger[num_colors]` member
  cpp/include/vshogi/common/board.hpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: precompute neighbor and 2nd neighbor at each square
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `Board::get_attacks_by_nocheck`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: check game position repetition only if there is a matching node in transposition table
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: dfpn::Searcher::search() returns last action explored
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: specify jax version
  setup.cfg
Due: none

ADD: Game::had_two_consecutive_sacrifice_drops()
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn2/node.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: dfpn3
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn3/node.hpp
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

use builtin ctz instead of custom one
  cpp/include/vshogi/common/utils.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: random playout
  .github/workflows/run-random-playout-profile.yaml
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: NoPromoMoveGenerator
  cpp/include/vshogi/common/generator.hpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: rename NonKingBoardMoveGenerator -> SoldierMoveGenerator
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn3/node.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

added some notes about move generator
  cpp/include/vshogi/common/generator.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

add template specialization, `ntz<std::uint32_t>`
  cpp/include/vshogi/common/utils.hpp
  examples/tmp.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

use builtin popcount functions
  cpp/include/vshogi/common/utils.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

preallocate nodes in dfpn3
  cpp/include/vshogi/engine/dfpn3/node.hpp
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: use dfpn3
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

update pre-commit-hooks revision from v3.2.0 to v6.0.0
  .pre-commit-config.yaml
Due: none

ADD: parameter to control policy loss scale
  examples/dlshogi.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

specify tensorflow version
  setup.cfg
Due: none

scale grad
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

ADD: gemini review
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .gitignore
Due: none

CHANGE: default value of greedy depth of q-value estimation, 1 -> 3
  examples/dlshogi.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

EDIT: use `vshogi.play_game` in verification
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: `vshogi.Record` for aggregated results
  python/vshogi/__init__.py
  python/vshogi/__main__.py
  python/vshogi/_record.py
Due: flake8, python-unittest

ADD: `vshogi.engine.Engine.name` property
  examples/dlshogi.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

ADD: `vshogi.Record.wdl()`
  examples/dlshogi.py
  python/vshogi/_record.py
Due: flake8, python-unittest

ADD: `vshogi::engine::dfpn3::Searcher::init()`
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `mcts::Searcher::select()` -> `mcts::Searcher::search()`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: remove `vshogi.engine.DfpnMcts` and DFPN included in `Mcts`
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_dfpn_mcts.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/__main__.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

CHANGE: run DFPN at leaf node of MCTS in C++, not in Python
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/vshogi/engine/_mcts.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: profiling script
  examples/dlshogi_model.py
Due: flake8, python-unittest

run python profiling script in pre-commit
  .pre-commit-config.yaml
  examples/dlshogi_model.py
Due: flake8, python-unittest

CHANGE: more frequent network update
  .github/workflows/run-dlshogi.yaml
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: refactor mcts by deleting unnecessary constructor
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `mcts::Searcher::{set_game -> init_root}`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: raise error when keys are mismatching
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: `non_random_ratio` -> `random_rate`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `Mcts.select()` returns a move found by DFPN if there is
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
