Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

`mcts::Node::{select -> select_nocheck}`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: remove unnecessary pybind11 exports of MCTS node methods
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, python-setup, python-unittest

EDIT: add `mcts::Searcher::simulate_expand_backprop()` method
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `mcts::Node::simulate_expand_and_backprop` -> `mcts::Searcher::simulate_expand_backprop`
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: run DFPN at root node of MCTS in C++
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: script to check validity of selfplay generated dataset
  .github/workflows/check_selfplay_dataset.py
  .github/workflows/run-dlshogi.yaml
  setup.cfg
Due: flake8, python-unittest

FIX: debug DFPN algorithm that returns a consecutive check
  cpp/include/vshogi/engine/dfpn3/node.hpp
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_searcher.cpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

remove deprecated classifier
  setup.py
Due: flake8, python-unittest

CHANGE: add default `policy_value_func` to `Mcts.__init__()`
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

REMOVE: `random_depth` parameter from `Mcts.__init__()`,
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: remove #ply from dataset for correct deduplications
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: `z_weight = {1 -> 0}`, because the result (z) can be independent of a proof
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: data importance decay parameter to emphasize end games than openings when training NN
  examples/dlshogi.py
Due: flake8, python-unittest

REMOVE: remove unnecessary file
  examples/tmp.py
Due: flake8, python-unittest

FIX: fixed a bug that `Game.get_mate_moves_if_any()` returned incomplete checkmate moves
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/vshogi/_game.py
Due: flake8, python-unittest

ADD: `std::string Move::to_sfen() const` method
  cpp/include/vshogi/common/move.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: fixed a bug that `dfpn3::Searcher::get_mate_moves()` returns consecutive checks by running another DFPN algorithm inside the method
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_searcher.cpp
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `Record.score()` method
  examples/dlshogi.py
  python/tests/test_vshogi/test_record.py
  python/vshogi/_record.py
Due: flake8, python-unittest

FIX: pytorch device: gpu -> cuda
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: `Mcts::backprop_to_leaf()` undos exploration moves applied to a game object
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: set `pd.options.display.max_colwidth` a large value to print out the entire sfen notation
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: remove game object member from `dfpn3::Searcher` class
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_searcher.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: set `pd.options.display.width` a value of 100
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: make `mcts::Node::m_action` cannot have invalid move at non-root nodes
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: allocate memory at first in `Game::Game()`
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `Game.{record_length -> ply()}`
  cpp/include/vshogi/common/game.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
  examples/dlshogi.py
  python/vshogi/_game.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `Move.__init__(int)`
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, python-setup, python-unittest

CHANGE: rename method, `Game.{dump_records -> dump_log}()`, to clarify the term `record`
  examples/dlshogi.py
  python/vshogi/_game.py
Due: flake8, python-unittest

CHANGE: limit deduplicating game positions up to 5000 for better tfrecord conversion
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: limit deduplicating game positions up to 1000 for better tfrecord conversion
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: `python examples/dlshogi.py train ...` dumps stderr messages in a file
  examples/dlshogi.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

CHANGE: `python examples/dlshogi.py self-play ...` dumps stderr messages in a file
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: `Game.apply()` supports passing list of moves
  README.md
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/__init__.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: flake8, python-unittest

run pre-commit test on README examples
  .pre-commit-config.yaml
  README.md
Due: none

CHANGE: reorder parameters of `Move.__init__()`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn2/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn2/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_engine/test_piece_value_func.cpp
  cpp/tests/test_vshogi/test_game.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_generator.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_shogi/test_generator.cpp
  cpp/tests/test_vshogi/test_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
  python/vshogi/_repr.py
  python/vshogi/engine/_search_nply_mate.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: better set ones
  cpp/include/vshogi/common/bitboard.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: filenames to check in DL shogi training
  .github/workflows/run-dlshogi.yaml
Due: none

CHANGE: `Mcts.get_visit_counts()` returns full dictionary of legal actions
  .github/workflows/check_selfplay_dataset.py
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

ADD: `Game::swap_log()` for faster and accurate mate move retrieval
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn3/node.hpp
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: `dfpn2`
  cpp/include/vshogi/engine/dfpn2/node.hpp
  cpp/include/vshogi/engine/dfpn2/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest
