Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

EDIT: `vshogi::Squares::get_squares_along` returns array filled with `SQ_NA` after first element when knight move direction is passed
  cpp/include/vshogi/direction.hpp
  cpp/include/vshogi/squares.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: add MSB template parameters to `vshogi::Move<>`
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: prefer uint to int
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/color.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: change loop order of drop moves
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: use fixed Kifu for profiling
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: count repetition by zobrist hash value
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: add option to skip update of legal moves and result
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/result.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_engine/test_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: add option to suppress legal moves to check moves
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Game::append_check_drop_moves()`
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: turn off memory leak detection while profiling
  .github/workflows/run-cpp-profile.yaml
  cpp/tests/CMakeLists.txt
Due: none

tmp
  cpp/include/vshogi/common/game.hpp
  cpp/tests/test_vshogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: some options to `vshogi::Game::apply()` for faster MCTS & DFPN
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/result.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_game.cpp
  python/tests/test_vshogi/test_engine/test_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: rearrang attack order
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Pieces::get_attack_directions`
  cpp/include/vshogi/common/direction.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_direction.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_piece.cpp
  cpp/tests/test_vshogi/test_minishogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Game::{apply_nocheck, apply_mcts_internal_vertex, apply_dfpn_defence}`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/tests/test_vshogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `vshogi::Game::{m_record -> m_move_list & m_zobrist_hash_list}`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: save model parameters and load them when resuming
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: reuse existing kifu and resume self-play in each cycle
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: run DL training in subprocess
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: run DL training in subprocess
  examples/dlshogi.py
  setup.cfg
Due: flake8, python-unittest

CHANGE: change board position for fairness
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: test `BitBoard::get_promotion_zone()`
  cpp/tests/test_vshogi/test_animal_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::append_legal_moves_to_defend_king`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/legals.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/tests/test_vshogi/test_legals.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::append_legal_moves_by_non_king()`
  cpp/include/vshogi/common/legals.hpp
  cpp/tests/test_vshogi/test_legals.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::append_legal_moves_by_king()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/legals.hpp
  cpp/tests/test_vshogi/test_legals.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::append_check_moves_by_drop`
  cpp/include/vshogi/common/legals.hpp
  cpp/tests/test_vshogi/test_legals.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::get_counter_check_moves()`
  cpp/include/vshogi/common/legals.hpp
  cpp/tests/test_vshogi/test_legals.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::append_legal_moves_by_drop()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/legals.hpp
  cpp/tests/test_vshogi/test_legals.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::get_check_moves()`
  cpp/include/vshogi/common/legals.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/tests/test_vshogi/test_legals.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

tmp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/legals.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.Game.resign()`
  cpp/include/vshogi/common/game.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_game.cpp
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: remove template specialization of `vshogi::Squares<>::get_direction()` to animal_shogi
  cpp/include/vshogi/variants/animal_shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: add const to `vshogi::Pieces<>::attack_directions_table[]`
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: change value of `vshogi::Pieces<>::OU`
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: remove specialized definitions of `vshogi::BitBoard<>::shift<>()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: remove specialized definitions of `vshogi::BitBoard<>::get_promotion_zone()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: remove specialized definition `vshogi::animal_shogi::Game::to_feature_map()`
  cpp/include/vshogi/variants/animal_shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: add static_cast to remove warnings
  cpp/include/vshogi/variants/animal_shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of `vshogi::Squares<>::get_direction()`
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
