Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

CHANGE: enable enhanced checks in MCGS algorithm by default
  docs/devlog/devlog_20260720_mcgs_enhanced_checks.md
  python/vshogi/dlshogi/_mcgs/_self_play_worker.py
  python/vshogi/engine/_mcgs.py
Due: flake8, python-unittest

FIX: fix a possible bug that refers freed node object in a test
  cpp/tests/test_vshogi/test_engine/test_mcgs/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: PolicyValueFunction supports channels last models in addition to channels first
  python/vshogi/dlshogi/_policy_value_function.py
Due: flake8, python-unittest

EDIT: add some asserts in SquareTraits methods
  cpp/include/vshogi/common/square_traits.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: leshogi variant in C++
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/common/square_traits.hpp
  cpp/include/vshogi/variants/leshogi.hpp
  cpp/python/leshogi_wrapper.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_leshogi/test_bitboard_traits.cpp
  cpp/tests/test_vshogi/test_leshogi/test_board.cpp
  cpp/tests/test_vshogi/test_leshogi/test_game.cpp
  cpp/tests/test_vshogi/test_leshogi/test_magic.cpp
  cpp/tests/test_vshogi/test_leshogi/test_move.cpp
  cpp/tests/test_vshogi/test_leshogi/test_piece_traits.cpp
  cpp/tests/test_vshogi/test_leshogi/test_square_traits.cpp
  cpp/tests/test_vshogi/test_leshogi/test_stand.cpp
  cpp/tests/test_vshogi/test_leshogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: leshogi variant in Python
  cpp/python/CMakeLists.txt
  cpp/python/leshogi_wrapper.cpp
  python/vshogi/__init__.py
  python/vshogi/dlshogi/_cli/_alpha_zero.py
  python/vshogi/dlshogi/_cli/_gumbel_alpha_zero.py
  python/vshogi/dlshogi/_cli/_klent.py
  python/vshogi/dlshogi/_cli/_mcgs.py
  python/vshogi/dlshogi/_read_kifu.py
  python/vshogi/dlshogi/_replay_buffer.py
  python/vshogi/dlshogi/_utils.py
  python/vshogi/leshogi/__init__.py
  python/vshogi/leshogi/_game.py
  python/vshogi/leshogi/_leshogi.pyi
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

ADD: Run CLI training on Leshogi in a github action
  .github/workflows/run-cli.yaml
  python/vshogi/_cli/_match.py
Due: flake8, python-unittest

FIX: fixed DFPN algorithm bug. Look-up transposition table when a node has no child.
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/mcgs/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_mcgs/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: timeout parameter in dlshogi CLI
  cpp/include/vshogi/engine/mcgs/searcher.hpp
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_klent/_self_play_worker.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
