Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

REMOVE: `dfpn`
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/dfpn3/node.hpp
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn3/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

fix typo from `multiple_iterative_deepning` to `multiple_iterative_deepening`
  cpp/include/vshogi/engine/dfpn3/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `dfpn3` -> `dfpn`
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `dfpn::Node::simulate_using_twins()`
  cpp/include/vshogi/engine/dfpn/node.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: remove a member `dfpn::Node::m_offence`
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `pv_line` parameter in `{Mcts, DfpnSearcher}._tree()` accepts str notation of moves
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

EDIT: `dfpn::Node::backprop()` for speed-up
  cpp/include/vshogi/engine/dfpn/node.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: `Game.get_mate_moves_if_any()` returns `None` when an engine proved mate but failed to get appropriate mate moves
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: refactor `dfpn::Node::backprop()` to remove a parameter `king_sq`
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `dfpn::Table::look_up()` finds partially-expanded or proved-by-repetition node for better node expansion speed
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `dfpn::Searcher::get_mate_moves()` returns mate moves without running another DFPN algorithm
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: threshold to convert kifu.tsv to tfrecord
  examples/dlshogi.py
Due: flake8, python-unittest

FIX: specify columns for deduplicating dataset at index=0
  .github/workflows/run-dlshogi.yaml
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: refactor `dfpn::Searcher::get_mate_moves()`
  cpp/include/vshogi/engine/dfpn/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `dfpn::ScopedGame` class to stash game log
  cpp/include/vshogi/engine/dfpn/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: add some guardrails on `dfpn::Searcher::get_mate_moves()` to prevent segmentation fault
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `Game.count_repetitions()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: remove `offence` parameter from `dfpn::Node::{simulate, expand}()`, and judge offence value by `game.ply()` value
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: visualize gprof result
  .github/workflows/run-mcts-dfpn_profile.yaml
Due: none

Run C++ profile on `MoveGenerator`
  .github/workflows/run-mcts-dfpn_profile.yaml
  .github/workflows/run-profile.yaml
  cpp/tests/test_vshogi/test_profile.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `{Game, State}::get_stand()` that returns stand of the current turn player
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `get_{checker, king}_location` -> `get_{checker, king}_square`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `KingMoveGenerator` -> `KingMoveIterator`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/iterator/king.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `State::can_apply_drop_move()`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/state.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `DropEvasionIterator`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_drop.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `ChainedIterator`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/iterator/chained_iterator.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `IterEnum::{LEGAL, CHECK, EVADE}`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/iterator.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_drop.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  cpp/tests/test_vshogi/test_profile.cpp
  cpp/tests/test_vshogi/test_shogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: rename functions and change parameter order: `get_squares_along` -> `ray_from`, `get_direction` -> `direction`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/king.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: template parameter of `KingMoveIterator<>` class
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/iterator/king.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_king.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `Configuration::direction_iterator()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `Configuration::stand_piece_type_iterator()`
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/piece_value.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `SoldierMoveIterator<EVADE>`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/iterator.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_common/test_iterator/test_soldier.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  cpp/tests/test_vshogi/test_profile.cpp
  cpp/tests/test_vshogi/test_shogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `SquareIterator` -> `BitboardSquareIterator`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/king.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `place_piece_at()` and `pop_piece_from()` update internal bitboards
  cpp/include/vshogi/common/board.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `Configuration::square_iterator()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/engine/piece_value.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `Board::{pop_from, place_at}()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `DropMoveIterator` and `SoldierMoveIterator` can specify begin move for fast legal check
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `State::get_checker_square()` -> `State::find_checker_square()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/iterator/drop.hpp
  cpp/include/vshogi/common/iterator/soldier.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: the value of `DRAW` result is 0.2 for white, -0.2 for black respectively
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

TMP: `dfpn::Node::delta_plus()`
  cpp/include/vshogi/engine/dfpn/node.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest
