Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

tmp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/dfpn/edge.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/dfpn/table.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_edge.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_table.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: stands hash member
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `State::is_declined_promotion()`
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: DFPN stores node in transposition table only if the game has not ended with special rules
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

use `ai_edge_litert`'s interpreter instead of one in tensorflow
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/vshogi/dlshogi/_policy_value_function.py
  setup.cfg
Due: flake8, python-unittest

CHANGE: use pytorch instead of tensorflow
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/tests/test_vshogi/test_dlshogi/test_depthwise_attention.py
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/tests/test_vshogi/test_dlshogi/test_policy_head.py
  python/tests/test_vshogi/test_dlshogi/test_residual_block.py
  python/tests/test_vshogi/test_dlshogi/test_train.py
  python/tests/test_vshogi/test_dlshogi/test_value_head.py
  python/vshogi/dlshogi/__init__.py
  python/vshogi/dlshogi/_depthwise_attention.py
  python/vshogi/dlshogi/_network.py
  python/vshogi/dlshogi/_optimizer.py
  python/vshogi/dlshogi/_policy_head.py
  python/vshogi/dlshogi/_residual_block.py
  python/vshogi/dlshogi/_train.py
  python/vshogi/dlshogi/_value_head.py
  setup.cfg
Due: flake8, python-unittest

CHANGE: use numpy iterable dataset instead of raw tensorflow dataset
  examples/dlshogi.py
  python/vshogi/dlshogi/_train.py
  setup.cfg
Due: flake8, python-unittest

CHANGE: precompute some parameters for litert conversion
  python/vshogi/dlshogi/_depthwise_attention.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

CHANGE: replace `Conv1d` with `Conv2d`
  python/tests/test_vshogi/test_dlshogi/test_depthwise_attention.py
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/tests/test_vshogi/test_dlshogi/test_policy_head.py
  python/tests/test_vshogi/test_dlshogi/test_residual_block.py
  python/tests/test_vshogi/test_dlshogi/test_train.py
  python/tests/test_vshogi/test_dlshogi/test_value_head.py
  python/vshogi/dlshogi/_depthwise_attention.py
  python/vshogi/dlshogi/_network.py
  python/vshogi/dlshogi/_policy_head.py
  python/vshogi/dlshogi/_residual_block.py
  python/vshogi/dlshogi/_train.py
  python/vshogi/dlshogi/_value_head.py
Due: flake8, python-unittest

ADD: `PolicyValueFunction.summary()`, which implements #12
  examples/dlshogi_model.py
  python/vshogi/dlshogi/_policy_value_function.py
  setup.cfg
Due: flake8, python-unittest

CHANGE: drop Python 3.8 and 3.9
  .github/workflows/run-checks.yaml
  .github/workflows/run-dlshogi.yaml
  .github/workflows/run-python-profile.yaml
  setup.cfg
Due: none

suppress warnings raised when importing `ai_edge_torch`
  examples/dlshogi.py
  examples/dlshogi_model.py
Due: flake8, python-unittest

edit torch module tests
  python/tests/test_vshogi/test_dlshogi/test_depthwise_attention.py
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/tests/test_vshogi/test_dlshogi/test_policy_head.py
  python/tests/test_vshogi/test_dlshogi/test_residual_block.py
  python/tests/test_vshogi/test_dlshogi/test_value_head.py
Due: flake8, python-unittest

CHANGE: use relu instead of leaky_relu to reduce number of operations in tflite model
  python/vshogi/dlshogi/_network.py
  python/vshogi/dlshogi/_residual_block.py
  python/vshogi/dlshogi/_value_head.py
Due: flake8, python-unittest

CHANGE: `dfpn::Node::expand` returns bool value that indicates whether the node has valid children or not
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: feature to print out players initial search count
  python/vshogi/__main__.py
  python/vshogi/_play.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

ADD: dfpn2
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `Squares::chebyshev_distance()`
  cpp/include/vshogi/common/squares.hpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `LegalMoveGenerator` supports check-move only generation
  cpp/include/vshogi/common/generator.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: dfpn2::Node::expand_children, dfpn2::Node::backprop
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: dfpn2::Node::compute_child_{thpn, thdn}
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: dfpn2::Table
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `dfpn2::Searcher`
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

added some clang warning options
  cpp/cmake/VShogiAddCompileOptions.cmake
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `increment_with_guard()`
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: added member initialization which was missing
  cpp/include/vshogi/engine/dfpn/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: use list instead of vector for transposition table
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `dfpn::Node::simulate()` uses cousin nodes in addition to a game object
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `dfpn::TranspositionTable::look_up_leg_stand_nodes()`
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: found -> proved in DFPN
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_dfpn_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

rename folder dfpn -> dfpn2
  cpp/include/vshogi/engine/dfpn2/node.hpp
  cpp/include/vshogi/engine/dfpn2/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn2/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn2/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

refactor `vshogi::engine::dfpn` into two separate file
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

rename dfpn::Node::{backprop -> backprop_one}
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

rename dfpn2::Node::{expand_children -> expand}
  cpp/include/vshogi/engine/dfpn2/node.hpp
  cpp/include/vshogi/engine/dfpn2/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn2/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn2/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

rename dfpn::Node::{is_attacker -> offence}
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/dfpn2/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: dfpn::TranspositionTable::look_up_ge_stand
  cpp/include/vshogi/engine/dfpn/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: dfpn::TranspositionTable::look_up_le_ge_stand
  cpp/include/vshogi/engine/dfpn/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

add missing header <memory>
  cpp/include/vshogi/engine/dfpn/node.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

remove Python 3.13 from repository checks
  .github/workflows/run-checks.yaml
Due: none

Table::look_up_le_ge_stand
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest
