Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

BUGFIX: `dfpn::Searcher::get_mate_moves()` returns a random defence move if the game position not found in look up table
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  examples/dlshogi.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: remove unnecessary mate set branches
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: remove unnecessary non-const method `look_up_fuzzy()`
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: expand drop moves using cousin node
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `dfpn::Searcher::search_inner()`
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: copy clipped #P and #D of nibling node
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: feature to drop swinging data from training
  examples/dlshogi.py
Due: flake8, python-unittest

BUGFIX: fix z value estimation in DL-shogi
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: DFPN avoids consecutive checks
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: always try to add a DFPN node in the transposition table
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: add `dfpn::Searcher::simulate_or_expand()` for refactoring
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.Game.undo()`
  cpp/include/vshogi/common/stand.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: `vshogi.animal_shogi`
  .github/workflows/run-dlshogi.yaml
  README.md
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/animal_shogi_wrapper.cpp
  cpp/python/vshogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/src/vshogi/variants/animal_shogi.cpp
  cpp/tests/test_main.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_generator.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_animal_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/tests/test_vshogi/test_game.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/vshogi/__init__.py
  python/vshogi/__main__.py
  python/vshogi/_game.py
  python/vshogi/animal_shogi/__init__.py
  python/vshogi/animal_shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: DFPN groups drop moves at AND-node
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: refactor `CheckNonKingBoardMoveGenerator::{init_dst_iter -> init_dst_iter_promotion & init_dst_iter_nopromo}`
  cpp/include/vshogi/common/generator.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `Magic::get_south_attack()` uses binary operations instead of look up table
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `BitBoard::msb()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_utils.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

tmp
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Configuration`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/include/vshogi/engine/piece_value.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/judkins_shogi_wrapper.cpp
  cpp/python/minishogi_wrapper.cpp
  cpp/python/shogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  cpp/tests/test_vshogi/test_shogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Configuration::piece_type_to_point`
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::FullPieceTypes`
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_minishogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: compute `Configuration::num_dir_dl` from `num_dir`
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: column major board representation
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_generator.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_move.cpp
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
  python/vshogi/_repr.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `vshogi::Board::has_pawn_in_file()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `DropMoveGenerator`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/magic.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: unroll loops in `Magic::to_magic_table_index()`
  cpp/include/vshogi/common/magic.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `Pieces`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `Squares`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `Move`
  cpp/include/vshogi/common/move.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `BitBoard`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `Board`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `Magic`
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `Stand`
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `KingMoveGenerator`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `DropMoveGenerator`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: faster `shogi::Magic::to_magic_table_index`
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `Configuration::log2_magic_table_size`
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Board::find_cover`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: reorder dst mask generation in `CheckNonKingBoardMoveGeneration`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/generator.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `Board::compute_king_movable`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest
