Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

ADD: {Piece, PieceType}::demote
  rust/src/variants/minishogi.rs
Due: none

ADD: Direction::is_diagonal_dir
  rust/src/common/direction.rs
Due: none

ADD: Piece::new
  rust/src/variants/minishogi.rs
Due: none

ADD: implement BaseSquare trait
  rust/src/common.rs
  rust/src/common/parameters.rs
  rust/src/common/square.rs
  rust/src/variants/minishogi.rs
  rust/src/variants/test_minishogi.rs
Due: none

migrate `ntz` to Rust
  cpp/include/vshogi/common/utils.hpp
  rust/src/lib.rs
  rust/src/utils.rs
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: {Piece, PieceType}::promote
  rust/src/variants/minishogi.rs
Due: none

ADD: Direction::is_knight_dir
  rust/src/common/direction.rs
Due: none

EDIT: use FromPrimitive
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: Piece::get_color
  rust/src/variants/minishogi.rs
Due: none

ADD: {Piece, PieceType}::is_slider
  rust/src/variants/minishogi.rs
Due: none

ADD: Piece::is_promotable
  rust/src/variants/minishogi.rs
Due: none

ADD: BaseSquare::{file, rank}
  rust/src/common/square.rs
  rust/src/variants/minishogi.rs
  rust/src/variants/test_minishogi.rs
Due: none

ADD: Direction
  rust/src/common.rs
  rust/src/common/direction.rs
Due: none

EDIT: implement is_attacking_to in BasePieceType trait
  rust/src/common/piece_type.rs
  rust/src/variants/minishogi.rs
  rust/src/variants/test_minishogi.rs
Due: none

ADD: Rust 'Configuration'
  rust/src/common.rs
  rust/src/common/config.rs
Due: none

ADD: Rust 'FullPieceTypes'
  rust/src/common.rs
  rust/src/common/full_piece_type.rs
Due: none

ADD: Rust 'BaseParameters::PIECE_TYPES'
  rust/src/common/parameters.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: Rust 'BasePieceType::is_promotion_fully_superior'
  rust/src/common/piece_type.rs
Due: none

ADD: Rust 'BasePieceType::is_slider'
  rust/src/common/full_piece_type.rs
  rust/src/common/piece_type.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: Rust 'BasePieceType::is_attacking_to'
  rust/src/common/piece_type.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: Rust 'BaseParameters::PieceType'
  rust/src/common/parameters.rs
  rust/src/common/piece.rs
  rust/src/common/piece_type.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: Rust 'BaseParameters::File,Rank'
  rust/src/common/parameters.rs
  rust/src/common/square.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: Rust 'common::Move'
  rust/src/common.rs
  rust/src/common/move.rs
  rust/src/common/parameters.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: Rust 'common::Stand'
  rust/src/common.rs
  rust/src/common/stand.rs
  rust/src/variants/test_minishogi.rs
Due: none

ADD: Rust 'common::Stand'
  rust/src/common/piece_type.rs
  rust/src/common/stand.rs
  rust/src/variants/test_minishogi.rs
Due: none

CHANGE: Game.to_dlshogi_features return (C, F, R) layout, which used to return (F, R, C) layout
  cpp/include/vshogi/common/state.hpp
  cpp/python/vshogi_wrapper.hpp
  python/scripts/run_alpha_zero.py
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_state.py
  python/vshogi/_game.py
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_network/_network.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: 'promotion_zone' parameter in `Game.to_dlshogi_features()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: '--network-promotion-zone' parameter in CLI
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_network/_network.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

EDIT: refactor postprocessing action values to scalar value
  python/vshogi/engine/_az.py
Due: flake8, python-unittest

ADD: devlog about validation search budget
  docs/devlog/devlog_20260707_validation_search_budget.md
Due: none

ADD: Monte Carlo Graph Searcher class
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/contiguous_buffer.hpp
  cpp/include/vshogi/engine/mcgs/edge.hpp
  cpp/include/vshogi/engine/mcgs/node.hpp
  cpp/include/vshogi/engine/mcgs/searcher.hpp
  cpp/include/vshogi/engine/tree/node.hpp
  cpp/include/vshogi/engine/tree/searcher.hpp
  cpp/python/vshogi_wrapper.cpp
  cpp/python/vshogi_wrapper.hpp
  cpp/src/vshogi/engine/mcgs/node.cpp
  cpp/tests/test_vshogi/test_engine/test_mcgs/test_edge.cpp
  cpp/tests/test_vshogi/test_engine/test_mcgs/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_mcgs/test_searcher.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  python/tests/test_vshogi/test_engine/test_mcgs.py
  python/vshogi/__main__.py
  python/vshogi/_game.py
  python/vshogi/dlshogi/_cli/_mcgs.py
  python/vshogi/dlshogi/_mcgs/_network_trainer.py
  python/vshogi/dlshogi/_mcgs/_self_play_worker.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_mcgs.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: add experiment results comparing MCTS and MCGS
  docs/devlog/devlog_20260712_mcgs.md
Due: none

CHANGE: replace AlphaZero engine with Mcgs engine in match CLI
  python/vshogi/_cli/_match.py
Due: flake8, python-unittest

ADD: run mcgs CLI test in github action
  .github/workflows/run-cli.yaml
Due: none

FIX: std::sqrtf -> std::sqrt
  cpp/src/vshogi/engine/mcgs/node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: add headers to fix compile errors
  cpp/include/vshogi/engine/contiguous_buffer.hpp
  cpp/include/vshogi/engine/mcgs/edge.hpp
  cpp/include/vshogi/engine/mcgs/node.hpp
  cpp/include/vshogi/engine/mcgs/searcher.hpp
  cpp/src/vshogi/engine/mcgs/node.cpp
  python/vshogi/_cli/_match.py
  python/vshogi/engine/_mcgs.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: Mcgs.select(temperature) returns an action visited at least once in the search
  cpp/include/vshogi/engine/mcgs/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_mcgs/test_searcher.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: devlog about lambda returns parameter on MCGS algorithm
  docs/devlog/devlog_20260714_mcgs_lambda_returns.md
Due: none

ADD: `Game::is_check()`
  cpp/include/vshogi/common/game.hpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: Enhanced checks in MCGS algorithm
  cpp/include/vshogi/engine/mcgs/node.hpp
  cpp/include/vshogi/engine/mcgs/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_mcgs/test_node.cpp
  python/vshogi/dlshogi/_mcgs/_self_play_worker.py
  python/vshogi/engine/_mcgs.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
