Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

ADD: `vshogi::Board<>::find_pinned()`
  cpp/include/vshogi/common/board.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: avoid copying vector of legal moves when creating a new node in DFPN algorithm
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix when there are ongoing games in training data
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: `vshogi.engine.MonteCarloTreeSearcher.apply()`
  examples/dlshogi.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

ADD: masked softmax cross entropy loss
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

tmp
  python/vshogi/__main__.py
Due: flake8, python-unittest

FIX: bug fix of `vshogi.Game.get_mate_moves_if_any()` method resulting in drop pawn mate
  cpp/include/vshogi/common/game.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: DFPN prefers promotion move to non-promotion move
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: save visit counts for all legal moves
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: use flake8-commas-x instead of flake8-commas
  setup.cfg
Due: none

ADD: run github actions on Python3.12
  .github/workflows/run-checks.yaml
Due: none

REMOVE: remove unnecessary deep copy of game object in `MonteCarloTreeSearcher`
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

CHANGE: use Post-Training Quantization
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: add cli to make two models play against each other
  .github/workflows/run-dlshogi.yaml
  python/vshogi/__main__.py
  setup.cfg
Due: flake8, python-unittest

CHANGE: replace supervisory signal, result of game (-1, 0 or 1) -> Q-value (-1 ~ 1)
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: CLI option to show progress bar
  python/vshogi/__main__.py
Due: flake8, python-unittest

EDIT: refactor `dlshogi.py` script
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: option to train network on proximal action probabilities
  examples/dlshogi.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

EDIT: reduce number of batch normalization layers
  examples/dlshogi.py
Due: flake8, python-unittest

FIX: bug fix of drop pawn mate logic, remove non-empty squares from opponent king destinations
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: speed up `vshogi.Game.to_dlshogi_features()`
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: DFPN algorithm prefers check moves by pieces not attacked
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: automatically pass all arguments to child processes
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: self play starts from default game position, but select actions at random for first N moves
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: `vshogi.engine.MonteCarloTreeSearcher.select(by='visit_counts')` performs random sampling or maximum value finding in C++
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: refactor no const version of `vshogi::engine::dfpn::Node::select()` so that it does selection and move application at once
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.*.State` class to faster generation of dlshogi features and policies
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_shogi/test_state.py
  python/vshogi/animal_shogi/__init__.py
  python/vshogi/judkins_shogi/__init__.py
  python/vshogi/minishogi/__init__.py
  python/vshogi/shogi/__init__.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `vshogi.Game.zobrist_hash`
  cpp/include/vshogi/common/game.hpp
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `vshogi.engine.DfpnSearcher`
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/_game.py
  python/vshogi/animal_shogi/_game.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

CHANGE: DFPN algorithm expands root node at initialization
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: fixed a bug that failed to count average number of moves when restarting DL-Shogi training
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: change some DL-shogi supervision singals
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: argument to set temperature parameter for DL-shogi training
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: `vshogi.engine.Engine` as a base class for DFPN, MCTS, and DFPN+MCTS
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_engine/test_dfpn_mcts.py
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/__main__.py
  python/vshogi/_play.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: parametrize number of single- and multi- bottleneck channels
  examples/dlshogi.py
Due: flake8, python-unittest

EDIT: faster training of NN by avoid creating arrays and use placeholders
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/tests/test_vshogi/test_shogi/test_state.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

CHANGE: use Kernel Sharing depthwise conv2d
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: use frozen kernel to capture long range relations of squares
  examples/dlshogi.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

CHANGE: remove unnecessary biases
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: run DL-shogi RL cycle when there is a push to remote branch tmp
  .github/workflows/run-dlshogi.yaml
Due: none
