Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

EDIT: remove unnecessary method in `dfpn::Node`
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `vshogi::BitBoard::from_square()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `vshogi::Board::{is_square_attacked -> is_destination_attacked}`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `vshogi::Game::{get_move_at, get_sfen_at}()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: add a character representing turn when testing `vshogi::Board` class
  cpp/include/vshogi/common/game.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::engine::piece_value_func()`
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/engine/piece_value.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_engine/test_piece_value_func.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.engine.piece_value_func()`
  .pre-commit-config.yaml
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/_game.py
  python/vshogi/animal_shogi/_game.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_piece_value_func.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

CHANGE: use piece value function as an initial dlshogi model
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: `vshogi::BitBoard::clear_nocheck()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `vshogi::animal_shogi::State::in_check()` considers try rule
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: 64bit zobrist hash -> 8bit captured + 16bit move + 40bit zobrist hash
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Game::get_num_fold()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Game::undo()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

tmp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

tmp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: introduce `thpn` and `thdn` parameter for efficient DFPN search
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: introduce `thpn` and `thdn` parameters for efficient DFPN search
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: threshold of number of child nodes below a defence node
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.engine.DfpnSearcher.__init__()` option to set threshold for number of child nodes below a defence node
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

ADD: `vshogi.Game.get_local_attention()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/tests/test_vshogi/test_animal_shogi/test_game.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
  python/vshogi/dlshogi/_network.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: passing a float value to `vshogi.engine.Mcts.search()` set search limit by time
  .github/workflows/run-dlshogi.yaml
  python/tests/test_vshogi/test_engine/test_mcts.py
  python/vshogi/__main__.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

CHANGE: two bottlenecks
  examples/dlshogi.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: rename some parameters for consistency
  .github/workflows/run-dlshogi.yaml
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/tests/test_vshogi/test_engine/test_dfpn_mcts.py
  python/vshogi/__main__.py
  python/vshogi/engine/_dfpn_mcts.py
Due: flake8, python-unittest

REMOVE: unecessary methods from `vshogi._vshogi.{shogi}.MctsNode`
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, python-setup, python-unittest

ADD: `vshogi.engine.DfpnSearcher._tree()`
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: `hash_stands` parameter from `vshogi::State::apply()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

REMOVE: `thnc_def` parameter which prevents finding mate moves when an opponent has many captured pieces
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_engine/test_engine.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: DFPN prohibits three consecutive sacrifice drops
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: option to control garbage collection in DFPN for debugging
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `vshogi.engine.DfpnSearcher.get_search_count()`
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: some mate cases
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: flake8, python-unittest

tmp
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: assertions
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/shogi_wrapper.cpp
  cpp/src/vshogi/variants/animal_shogi.cpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: DFPN prioritize nodes based not only on #P and #D, but also on actions and their destinations
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: skip searching unnecessary defence drop actions after finding one of them
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

tmp
  examples/dlshogi.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: update clang-format clang-tidy versions
  .devcontainer/post-create-command.sh
  .github/workflows/run-checks.yaml
  .pre-commit-config.yaml
  cpp/cmake/VShogiAddCompileOptions.cmake
  cpp/include/vshogi/common/board.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Stand::operator>=()`
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_shogi/test_stand.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::engine::dfpn::TranspositionTable`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_stand.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: update #P, #D, and 1st&2nd choices of a parent node when initializing child nodes
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
