Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

ADD: `Game.to_eng()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_shogi/test_to_eng.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `search_nply_mate()` returns 1-ply mate that has no redundant blocks
  python/tests/test_vshogi/test_minishogi/test_search_nply_mate.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

CHANGE: `search_nply_mate()` use cache for speed up
  python/tests/test_vshogi/test_shogi/test_search_nply_mate.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

ADD: `search_nply_mate()` supports 5-ply mate partially
  python/tests/test_vshogi/test_shogi/test_search_nply_mate.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

ADD: `search_nply_mate()` supports 3ply mate
  python/tests/test_vshogi/test_engine/test_search_nply_mate.py
  python/tests/test_vshogi/test_minishogi/test_search_nply_mate.py
  python/tests/test_vshogi/test_shogi/test_search_nply_mate.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

tmp
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

CHANGE: `Game.to_jpn()` returns true notation
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: redundant block detection when blocked by a board piece
  python/tests/test_vshogi/test_shogi/test_search_nply_mate.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

ADD: `vshogi.engine.search_nply_mate()` which currently suports 1ply mate for now
  python/tests/test_vshogi/test_engine/test_search_nply_mate.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

FIX: redundant block detection
  python/tests/test_vshogi/test_shogi/test_search_nply_mate.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

ADD: `Game.get_check_moves()`
  cpp/include/vshogi/common/game.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `search_nply_mate()` uses `Game.get_check_moves()` method
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

CHANGE: `search_nply_mate()` does not return no-promotion moves when promotion moves has already been included in the output
  python/tests/test_vshogi/test_shogi/test_search_nply_mate.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

ADD: `Game.is_valid_piece_count()`
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: `Game.to_jpn()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
  python/tests/test_vshogi/test_shogi/test_to_jpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: discount factor parameter for DL-Shogi
  examples/dlshogi.py
Due: flake8, python-unittest

test horizontal symmertry of `ValueHead`
  examples/dlshogi.py
  examples/dlshogi_model.py
  python/tests/test_vshogi/test_dlshogi/__init__.py
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

test horizontal symmertry of `DepthwiseAttention`
  python/tests/test_vshogi/test_dlshogi/test_network.py
Due: flake8, python-unittest

FIX: remove bias in a convolution layer in `ResBlock` for horizontal symmertry
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

ADD: `tensorflow` dependency for develop option
  setup.cfg
Due: none

ignore dlshogi tests when testing standard installation
  .github/workflows/run-checks.yaml
  python/tests/test_vshogi/test_dlshogi/test_network.py
Due: flake8, python-unittest

xfail horizontal symmetry test fow now
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

ADD: `search_nply_mate()` has option to remove duplicating futile interpositions
  python/tests/test_vshogi/test_shogi/test_search_nply_mate.py
  python/vshogi/engine/_search_nply_mate.py
Due: flake8, python-unittest

CHANGE: `Mcts.select(temperature)` uses visit distribution
  examples/dlshogi.py
  python/vshogi/engine/_mcts.py
Due: flake8, python-unittest

CHANGE: default value of `mcts_random_rate` is 0.5
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: train network from scratch unless specified
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: change default value of `nn_load_previous_weights` from 0 to 1
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: trainable attention kernel
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

ADD: `Game.get_local_attentions()`
  cpp/include/vshogi/common/game.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: low rank attention kernel
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: multi head attention
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: 8-head multi attention
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: faster multi head attention
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

FIX: main player search count
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: averaging value and policy singals when there are dupes
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: weight training data by reciprocal of frequency
  examples/dlshogi.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

CHANGE: remove unnecessary xfail marks
  python/tests/test_vshogi/test_dlshogi/test_network.py
Due: flake8, python-unittest

add test of `masked_softmax_cross_entropy` function
  python/tests/test_vshogi/test_dlshogi/test_train.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

ADD: value centering
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: tqdm dependency for develop option
  setup.cfg
Due: none

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
