Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

ADD: add a note about some experiments to look for the best value of `off-policy-rate`.
  docs/devlog/devlog_20260314_off_policy.md
Due: none

CHANGE: default value of a parameter `always_backup_result` in function `read_kifu()` is now true, which was false.
  python/tests/test_vshogi/test_dlshogi/test_read_kifu.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

REMOVE: `ReplayBuffer.averagize()`
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

ADD: CLI to run simple AlphaZero
  .github/workflows/run-alpha-zero.yaml
  python/vshogi/__main__.py
  python/vshogi/_cli/_alpha_zero/__init__.py
  python/vshogi/_cli/_alpha_zero/_cycler.py
  python/vshogi/_cli/_alpha_zero/_nn_trainer.py
  python/vshogi/_cli/_alpha_zero/_self_play_worker.py
Due: flake8, python-unittest

CHANGE: rename alpha-zero CLI options for efficiency
  .github/workflows/run-alpha-zero.yaml
  python/vshogi/_cli/_alpha_zero/_cycler.py
  python/vshogi/_cli/_alpha_zero/_nn_trainer.py
Due: flake8, python-unittest

EDIT: refactor alpha-zero CLI
  python/vshogi/__init__.py
  python/vshogi/_cli/_alpha_zero/_cycler.py
  python/vshogi/_cli/_alpha_zero/_self_play_worker.py
Due: flake8, python-unittest

ADD: `GumbelAlphaZero.improved_policy()`
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/vshogi/engine/_gaz.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

EDIT: move alpha-zero CLI implementations
  python/vshogi/__main__.py
  python/vshogi/_cli/_alpha_zero/__init__.py
  python/vshogi/_cli/_alpha_zero/_cycler.py
  python/vshogi/dlshogi/_alpha_zero/__init__.py
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_cli/_alpha_zero.py
Due: flake8, python-unittest

ADD: gumbel-alpha-zero CLI
  python/vshogi/__main__.py
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_cli/_gumbel_alpha_zero.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/__init__.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/_self_play_worker.py
Due: flake8, python-unittest

ADD: run gumbel-alpha-zero CLI
  .github/workflows/run-cli.yaml
Due: none

ADD: add log about value targets
  docs/devlog/devlog_20260320_value_targets.md
Due: none

FIX: add randomness in gumbel-alpha-zero validation
  python/vshogi/dlshogi/_gumbel_alpha_zero/_self_play_worker.py
Due: flake8, python-unittest

ADD: `action_value_head` parameter in `PolicyValueNetwork.__init__()`
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/vshogi/dlshogi/_network/_action_value_head.py
  python/vshogi/dlshogi/_network/_network.py
Due: flake8, python-unittest

CHANGE: `piece_value_func()` can return action values
  python/vshogi/engine/_piece_value_func.py
Due: flake8, python-unittest

ADD: `engine.Klent`
  pyproject.toml
  python/tests/test_vshogi/test_engine/test_klent.py
  python/vshogi/engine/__init__.py
  python/vshogi/engine/_klent.py
Due: flake8, python-unittest

CHANGE: `Data.value01` supports `dict[Move, float]` for action values
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
  python/vshogi/_game.py
  python/vshogi/dlshogi/_data.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

CHANGE: `PolicyValueFunction` supports loading a network with an action value head
  python/vshogi/dlshogi/_policy_value_function.py
Due: flake8, python-unittest

ADD: `train_klent()` function to train a network with an action-values-head for KLENT algorithm
  python/tests/test_vshogi/test_dlshogi/test_train.py
  python/vshogi/dlshogi/__init__.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

CHANGE: `AlphaZero` engine class supports action values
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/vshogi/engine/_az.py
Due: flake8, python-unittest

CHANGE: `_get_cli_options()` returns dict of decorators instead of list of decorators
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
Due: flake8, python-unittest

ADD: `lambda_` parameter in `read_kifu()` function to compute lambda returns
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

ADD: CLI klent
  .github/workflows/run-cli.yaml
  python/tests/test_vshogi/test_dlshogi/test_train.py
  python/vshogi/__main__.py
  python/vshogi/dlshogi/_cli/_klent.py
  python/vshogi/dlshogi/_klent/__init__.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
  python/vshogi/dlshogi/_klent/_self_play_worker.py
Due: flake8, python-unittest

CHANGE: limit number of kifu files to check
  .github/workflows/run-cli.yaml
Due: none

CHANGE: `Klent.improved_policy()` return dict of float, not np.float32
  python/vshogi/engine/_klent.py
Due: flake8, python-unittest

FIX: Make KLENT select actions in stochastic manner for the whole game
  python/vshogi/dlshogi/_klent/_self_play_worker.py
Due: flake8, python-unittest

ADD: `Engine.get_improved_policy()`
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/tests/test_vshogi/test_engine/test_klent.py
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_klent/_self_play_worker.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
  python/vshogi/engine/_klent.py
Due: flake8, python-unittest

ADD: some notes about GumbelAlphaZero compared against AlphaZero
  docs/devlog/devlog_20260322_gumbel_alpha_zero.md
Due: none

ADD: some notes on AlphaZero vs GumbelAlphaZero
  docs/devlog/devlog_20260322_gumbel_alpha_zero.md
Due: none

FIX: use MCTS value as the training target of the value network in GumbelAlphaZero alogrithm.
  docs/devlog/devlog_20260322_gaz_training_target.md
  docs/devlog/devlog_20260322_gumbel_alpha_zero.md
  python/vshogi/dlshogi/_cli/_gumbel_alpha_zero.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/_network_trainer.py
Due: flake8, python-unittest

ADD: some notes about the coefficient of policy loss
  docs/devlog/devlog_20260322_gaz_loss_coeff_policy.md
Due: none

EDIT: filter a warning from torch that warns us about jax device capability.
  python/vshogi/dlshogi/__init__.py
Due: flake8, python-unittest

CHANGE: `_NetworkTrainer.{_compute_average -> _aggregate}` to show stddev of value targets
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_klent/_network_trainer.py
Due: flake8, python-unittest

ADD: `--loss-q-ratio` option to blend game outcome with MCTS q-value for the value target
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/_network_trainer.py
Due: flake8, python-unittest

CHANGE: change default value of `--loss-q-ratio` option to 1.0 based on the experiment results, which was 0.0 in the original AlphaZero.
  docs/devlog/devlog_20260323_q_ratio.md
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
Due: flake8, python-unittest

EDIT: refactor dlshogi algorithms and CLIs
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_cli/_alpha_zero.py
  python/vshogi/dlshogi/_cli/_gumbel_alpha_zero.py
  python/vshogi/dlshogi/_cli/_klent.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_klent/_self_play_worker.py
Due: flake8, python-unittest

ADD: `--loss-value-target` option to replace training target with aggregated action values or keep them as they are
  docs/devlog/devlog_20260324_klent.md
  python/vshogi/dlshogi/_klent/_network_trainer.py
Due: flake8, python-unittest

CHANGE: change default value of `lambda_` to 0.0 in function `read_kifu()`
  python/tests/test_vshogi/test_dlshogi/test_read_kifu.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

ADD: `--loss-lambda` option to compute lambda-returns from MCTS Q-values
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
  python/vshogi/dlshogi/_gumbel_alpha_zero/_network_trainer.py
Due: flake8, python-unittest

CHANGE: change default value of `--loss-lambda` to 0.6
  docs/devlog/devlog_20260328_lambda_returns.md
  python/vshogi/dlshogi/_alpha_zero/_network_trainer.py
Due: flake8, python-unittest

ADD: `--output` option to control output format of match results
  python/vshogi/_cli/_match.py
Due: flake8, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
