Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

CHANGE: change parameter of `Board::compute_king_movable()` for faster check by king
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/state.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `BlockMoveGenerator` class
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `BitBoard::compute_droppable`
  cpp/include/vshogi/common/bitboard.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `CheckNonKingBoardMoveGenerator` -> `SoldierMoveGenerator`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  cpp/tests/test_vshogi/test_shogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi.dlshogi.train()`
  examples/dlshogi.py
  python/vshogi/dlshogi/__init__.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

added a code of schedule-free optimizer, which did not work well
  examples/dlshogi.py
  python/vshogi/dlshogi/_network.py
  python/vshogi/dlshogi/_optimizer.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

REMOVE: tf_keras dependency
  examples/dlshogi.py
  python/vshogi/dlshogi/__init__.py
  python/vshogi/dlshogi/_depthwise_attention.py
  python/vshogi/dlshogi/_network.py
  python/vshogi/dlshogi/_policy_value_function.py
  setup.cfg
Due: flake8, python-unittest

EDIT: refactor dlshogi network
  python/vshogi/dlshogi/_depthwise_attention.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: use Conv1D instead of Conv2D
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: added dropout
  examples/dlshogi.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: Mcts.select(temperature) refers q-value distribution instead of visit count
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: DFPN updates game result only at the first arrival to the node
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: display mean loss values instead of their ema
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

tmp
  cpp/include/vshogi/common/game.hpp
  cpp/python/vshogi_wrapper.hpp
  examples/dlshogi.py
  python/vshogi/_game.py
  python/vshogi/dlshogi/_network.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: use sigmoid cross entropy instead of tanh followed by mean squared error
  examples/dlshogi.py
  python/vshogi/dlshogi/_network.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

tmp
  cpp/include/vshogi/engine/mcts.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_mcts.cpp
  examples/dlshogi.py
  python/vshogi/dlshogi/_network.py
  python/vshogi/dlshogi/_train.py
  python/vshogi/engine/_dfpn_mcts.py
  python/vshogi/engine/_mcts.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: option to force promote if promotion is superior in `SoldierMoveGenerator`
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: prioritize offence drop moves by changing the order of child nodes
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `is_better_dn_choice_than()` requires previous move destination instead of a game instance
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: fix compile option
  cpp/cmake/VShogiAddCompileOptions.cmake
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactoring definitions
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/src/vshogi/variants/judkins_shogi.cpp
  cpp/src/vshogi/variants/minishogi.cpp
  cpp/src/vshogi/variants/shogi.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: presumably faster DFPN backprop
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: DFPN can solve mate involving no-promotion moves
  cpp/cmake/VShogiAddCompileOptions.cmake
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_minishogi/test_generator.cpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: increase gradient accumulation steps as dataset gets larger
  examples/dlshogi.py
Due: flake8, python-unittest

ADD: `Game.rotate()` method
  python/vshogi/_game.py
Due: flake8, python-unittest

CHANGE: remove color filter in non-self-play
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: change default learning rate for NN training
  examples/dlshogi.py
Due: flake8, python-unittest

CHANGE: incorporate hflip symmetry bias in dlshogi network
  examples/dlshogi.py
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_game.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: change order of depthwise and pointwise conv in value head
  examples/dlshogi.py
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

CHANGE: use dconv instead of dense layer in value head
  python/vshogi/dlshogi/_network.py
Due: flake8, python-unittest

ADD: `Piece.to_jpn()` method
  cpp/include/vshogi/common/pieces.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_judkins_shogi/test_to_jpn.py
  python/tests/test_vshogi/test_minishogi/test_to_jpn.py
  python/tests/test_vshogi/test_shogi/test_to_jpn.py
  python/vshogi/judkins_shogi/__init__.py
  python/vshogi/minishogi/__init__.py
  python/vshogi/shogi/__init__.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `to_usi` -> `to_sfen`
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_minishogi/test_move.cpp
  cpp/tests/test_vshogi/test_shogi/test_move.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
  examples/dlshogi.py
  python/vshogi/_game.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `Piece.to_sfen()`
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_judkins_shogi/test_to_sfen.py
  python/tests/test_vshogi/test_minishogi/test_to_sfen.py
  python/tests/test_vshogi/test_shogi/test_to_sfen.py
  python/vshogi/judkins_shogi/__init__.py
  python/vshogi/minishogi/__init__.py
  python/vshogi/shogi/__init__.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

ADD: `Game.to_svg()`
  python/tests/test_vshogi/test_minishogi/test_game.py
  python/vshogi/_game.py
  python/vshogi/_to_svg.py
  python/vshogi/judkins_shogi/_game.py
  python/vshogi/minishogi/_game.py
  python/vshogi/shogi/_game.py
Due: flake8, python-unittest

FIX: fix game result when initializing by SFEN string
  cpp/include/vshogi/common/game.hpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `Game.in_check()`
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/_game.py
Due: clang-format, cpp-unittest, flake8, python-setup, python-unittest

ADD: `Game.to_jpn()` method to get a Japanese representation of a given move
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_judkins_shogi/test_to_jpn.py
  python/tests/test_vshogi/test_minishogi/test_to_jpn.py
  python/tests/test_vshogi/test_shogi/test_to_jpn.py
  python/vshogi/_game.py
  python/vshogi/_to_jpn.py
  python/vshogi/judkins_shogi/__init__.py
  python/vshogi/minishogi/__init__.py
  python/vshogi/shogi/__init__.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `Game.to_svg()` option to skip depicting white stand
  python/vshogi/_game.py
  python/vshogi/_to_svg.py
Due: flake8, python-unittest

FIX: `Game.to_jpn()` returns two chars to represent some of promoted pieces
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/pieces.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_shogi/test_to_jpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `Game.to_jpn()` returns true notation
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/move.hpp
  cpp/include/vshogi/common/utils.hpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  python/tests/test_vshogi/test_minishogi/test_to_jpn.py
  python/tests/test_vshogi/test_shogi/test_to_jpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
