Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

REMOVE: garbage collection from DFPN
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/python/vshogi_wrapper.hpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `dfpn::Node::search()` -> `dfpn::Searcher::search_inner()`
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: transposition table member in dfpn searcher
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: TranspositionTable stores pointers to nodes
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: `dfpn::Node::expand()` -> `dfpn::Searcher::expand_at()`
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: look up transposition nodes with conclusions found in DFPN search
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: unnecessary legal move generation in DFPN
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: use transpotition table to cache conclusions in DFPN
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/stand.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_stand.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_stand.cpp
  cpp/tests/test_vshogi/test_shogi/test_stand.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
  python/vshogi/engine/_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: unnecessary method from `vshogi::Game`
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `vshogi::Game::{num_pieces(), total_point()}`
  cpp/include/vshogi/common/game.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `vshogi::Game::m_captured_move_list`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_state.cpp
  cpp/tests/test_vshogi/test_minishogi/test_state.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of `vshogi.engine.DfpnSearcher.get_mate_moves`
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: store records of checker sq and use it in `vshogi::Game::undo()` method
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: bug fix of DFPN transposition table
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: DFPN tests on minishogi and judkins shogi
  python/tests/test_vshogi/test_judkins_shogi/__init__.py
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/__init__.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
Due: flake8, python-unittest

ADD: `Pieces::is_promotion_complete_upgrade()`
  cpp/include/vshogi/common/pieces.hpp
  cpp/include/vshogi/variants/animal_shogi.hpp
  cpp/tests/test_vshogi/test_animal_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_minishogi/test_pieces.cpp
  cpp/tests/test_vshogi/test_shogi/test_pieces.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `dfpn::Searcher::expand_board_moves_at_offence()`
  cpp/include/vshogi/engine/dfpn.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: DFPN skips no promotion moves of FU, KA, and HI when promotion is possible
  cpp/include/vshogi/common/state.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

FIX: DFPN transposition table look up functionality
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: add DFPN node into transposition table only if the conclusion is found
  cpp/include/vshogi/engine/dfpn.hpp
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

candidate magic numbers for diagonal attacks
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: better check move generation by non-king board pieces
  cpp/include/vshogi/common/generator.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: magic for diagonal attacks
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/variants/judkins_shogi.hpp
  cpp/include/vshogi/variants/minishogi.hpp
  cpp/include/vshogi/variants/shogi.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: refactor `vshogi::engine::dfpn::Searcher::search()`
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: add DFPN node to transposition table before backprop
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `CheckNonKingBoardMoveGenerator::init_src_iter()` remove source squares where pieces cannot check enemy king when creating source mask
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/magic.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: test `Board::find_ranging_attacker()`
  cpp/include/vshogi/common/generator.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_board.cpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
  cpp/tests/test_vshogi/test_shogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: test `Squares::get_squares_along()`
  cpp/tests/test_vshogi/test_judkins_shogi/test_squares.cpp
  cpp/tests/test_vshogi/test_minishogi/test_squares.cpp
  cpp/tests/test_vshogi/test_shogi/test_squares.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: test `BitBoard::get_ray_to()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `BitBoard::compute_2nd_neighbor_of()`
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `dfpn::Node::add_child()`
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `dfpn::Node::expand()`
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: test `Magic::get_{adjacent, diagonal}_attack(sq)`
  cpp/tests/test_vshogi/test_judkins_shogi/test_magic.cpp
  cpp/tests/test_vshogi/test_minishogi/test_magic.cpp
  cpp/tests/test_vshogi/test_shogi/test_magic.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: `dfpn::had_two_consecutive_sacrifice_drops()` checks if 1st and 2nd capturing pieces are the same or not
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: `dfpn::Node::expand()` reuses #p and #d of nibling node only if an offence (defence) node found mate (no-mate)
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `dlshogi.py` dumps bug log
  examples/dlshogi.py
Due: flake8, python-unittest

BUGFIX: add forced promotion in check move generation
  cpp/include/vshogi/common/bitboard.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/include/vshogi/common/squares.hpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_generator.cpp
  cpp/tests/test_vshogi/test_minishogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_bitboard.cpp
  cpp/tests/test_vshogi/test_shogi/test_generator.cpp
  python/tests/test_vshogi/test_shogi/test_dfpn.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `Board::is_drop_pawn_mate()`
  cpp/include/vshogi/common/board.hpp
  cpp/include/vshogi/common/generator.hpp
  cpp/tests/test_vshogi/test_minishogi/test_board.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

BUGFIX: `dfpn::Searcher::get_mate_moves()` checks if moves are legal
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
  examples/dlshogi.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

BUGFIX: `dfpn::Searcher::get_mate_moves()` check if the 1st child node have mate value or not
  cpp/include/vshogi/engine/dfpn.hpp
  cpp/tests/test_vshogi/test_engine/test_dfpn.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest
