Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

clang-format:
  name: Check C++ format
  entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
  language: system

cpp-unittest:
  name: Run C++ UnitTests
  entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
  pass_filenames: false
  language: system

clang-tidy:
  name: Check C++ naming convention
  entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
  language: system

flake8:
  name: Check Python format
  entry: flake8 --count --show-source --statistics
  language: system

python-setup:
  name: Build Python extensions
  language: system
  entry: pip install -e .[develop]
  pass_filenames: false

python-unittest:
  name: Run Python UnitTests
  language: system
  entry: bash -c 'pytest --doctest-modules python/'
  pass_filenames: false

ADD: make captured pieces drag-and-droppable
  python/apps/templates/shogi_board.html
  python/apps/web_shogi.py
  python/vshogi/shogi/__init__.py
Due: flake8, python-unittest

ADD: web app loads network weight
  python/apps/templates/shogi_board.html
  python/apps/web_shogi.py
Due: flake8, python-unittest

CHANGE: parameter name `Engine.search(budget: int | float)`
  pyproject.toml
  python/scripts/run_alpha_zero.py
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/tests/test_vshogi/test_engine/test_gumbel_alpha_zero.py
  python/tests/test_vshogi/test_judkins_shogi/test_dfpn.py
  python/tests/test_vshogi/test_minishogi/test_dfpn.py
  python/tests/test_vshogi/test_shogi/test_dfpn.py
  python/vshogi/_cli/_match.py
  python/vshogi/_play.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
Due: flake8, python-unittest

CHANGE: add parameter `tree_size` in `Engine.__init__()`
  python/tests/test_vshogi/test_engine/test_dfpn.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
Due: flake8, python-unittest

REMOVE: `az::Searcher::get_action_by_visit_max()` method
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
  cpp/tests/test_vshogi/test_profile.cpp
  python/vshogi/engine/_az.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

REMOVE: unnecessary method `az::Searcher::get_action_by_q_distribution()`
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: `az::Searcher::{get_action_by_visit_distribution -> select_action}`
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  python/vshogi/engine/_az.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `tree::Searcher::apply()` method
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `DfpnAugmentedSearcher` class
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/dfpn/table.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/searcher.hpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

FIX: fixed a bug that failed to mix the result value (1 or -1) and q-value
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

ADD: `Engine.get_mate_moves()`
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/engine/_az.py
  python/vshogi/engine/_dfpn.py
  python/vshogi/engine/_engine.py
  python/vshogi/engine/_gaz.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `min_visits` parameter in `AlphaZero.get_q_value()` method to reduce variance of the returned q-value
  cpp/include/vshogi/engine/az/node.hpp
  cpp/python/vshogi_wrapper.cpp
  cpp/src/vshogi/engine/az/node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/vshogi/engine/_az.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

ADD: `min_visits` parameter in `GumbelAlphaZero.get_q_value()` method to reduce variance of the returned q-value
  cpp/include/vshogi/engine/gaz/node.hpp
  cpp/python/vshogi_wrapper.cpp
  cpp/src/vshogi/engine/gaz/node.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_node.cpp
  python/vshogi/engine/_gaz.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

CHANGE: `ReplayBuffer.deduplicate()` merges an empty policy and a non-empty policy into empty policy
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

ADD: `default_result_rate` parameter in `read_kifu()` and `--default-result-rate` parameter in dlshogi cli
  python/tests/test_vshogi/test_dlshogi/kifu_00000.tsv
  python/tests/test_vshogi/test_dlshogi/test_read_kifu.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/dlshogi/_read_kifu.py
Due: flake8, python-unittest

version 0.0.3
  setup.cfg
Due: none

FIX: remove `z_weight` from `check_selfplay_dataset.py`
  .github/workflows/check_selfplay_dataset.py
Due: flake8, python-unittest

git ignores `assets/` and `experiments/`
  .gitignore
Due: none

CHANGE: ai_edge_torch -> executorch
  python/scripts/run_alpha_zero.py
  python/tests/test_vshogi/test_dlshogi/test_network.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
  python/vshogi/dlshogi/_network/_depthwise_attention.py
  python/vshogi/dlshogi/_policy_value_function.py
  setup.cfg
Due: flake8, python-unittest

ADD: `beta2` paraemeter in dlshogi CLI
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

REMOVE: remove `grad-accumulation` parameters, use `beta2` instead
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_train.py
Due: flake8, python-unittest

CHANGE: move parameters `c_puct`, `p_random` from `Searcher::Search()` to `Searcher::search()`
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
  cpp/tests/test_vshogi/test_profile.cpp
  python/vshogi/engine/_az.py
Due: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

EDIT: add some help messages
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

EDIT: refactor dlshogi CLI parameters
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

REMOVE: remove `--kifu-path-pattern` parameters from dlshogi CLI
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

scripts to run dlshogi servers
  .github/workflows/run-dlshogi-servers.yaml
  python/scripts/run_dlshogi_servers.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

CHANGE: changed the role of `--kifu-fraction` parameter
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

CHANGE: DL-Shogi training saves and loads network weights and optimizer states
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

EDIT: validate latest player against previous players in parallel
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_self_play_worker.py
Due: flake8, python-unittest

FIX: fixed a bug that failed to save optimizer state properly
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

EDIT: edit `read_kifu()` and `ReplayBuffer` to reduce number of times calling `Game.get_legal_moves()` method
  python/tests/test_vshogi/test_dlshogi/test_read_kifu.py
  python/tests/test_vshogi/test_dlshogi/test_replay_buffer.py
  python/vshogi/dlshogi/_read_kifu.py
  python/vshogi/dlshogi/_replay_buffer.py
Due: flake8, python-unittest

REMOVE: `setup.cfg`, and write project info in `pyproject.toml`
  pyproject.toml
  setup.cfg
Due: none

REMOVE: `jax < 0.7.0`
  pyproject.toml
Due: none

EDIT: specify versions for macos
  pyproject.toml
Due: none

CHANGE: sample at least 1 game position from each kifu
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

EDIT: enable all pycodestyle checks in `ruff lint`
  pyproject.toml
  python/tests/test_vshogi/test_shogi/test_game.py
  python/vshogi/_to_svg.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

EDIT: enable flake8-buitins checks in `ruff lint`
  pyproject.toml
Due: none

ADD: `--per/--no-per` option to enable/disable prioritized experience replay
  python/scripts/run_dlshogi_servers.py
  python/vshogi/dlshogi/_cli/_cycler.py
  python/vshogi/dlshogi/_cli/_nn_trainer.py
Due: flake8, python-unittest

EDIT: enable flake8-debugger checks in `ruff checks`
  pyproject.toml
Due: none

Path conditions:
  clang-format: any of: \.(c|h|cpp|hpp)$
  cpp-unittest: any of: \.(c|h|cpp|hpp)$
  clang-tidy: any of: \.(c|h|cpp|hpp)$, but not: python
  flake8: any of: \.py$
  python-setup: any of: \.(c|h|cpp|hpp)$
  python-unittest: any of: \.(c|h|cpp|hpp|py)$
