Repository ctgk/vshogi: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpp-unittest, clang-tidy, flake8, python-setup, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'assets'
    -   id: end-of-file-fixer
        exclude: 'assets'
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: local
    hooks:
    -   id: clang-format
        name: Check C++ format
        entry: bash -c 'cmd=`which clang-format-12 || which clang-format-13 || which clang-format`; for file in "$@"; do diff $file <($cmd $file); if [ $? = 1 ]; then echo $file; exit 1; fi; done' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        language: system
    -   id: cpp-unittest
        name: Run C++ UnitTests
        entry: bash -c 'cd `git rev-parse --show-toplevel`; rm -rf build/pre-commit; mkdir -p build/pre-commit; cd build/pre-commit; cmake ../../cpp -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON && make && ./tests/test_vshogi' --
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
        language: system
    -   id: clang-tidy
        name: Check C++ naming convention
        entry: bash -c 'cmd=`which clang-tidy-11 || which clang-tidy-13 || which clang-tidy`; cd `git rev-parse --show-toplevel`; $cmd $@ -p build/pre-commit -extra-arg=-Wno-unknown-warning-option' --
        language: system
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        exclude: 'python'
    -   id: flake8
        name: Check Python format
        entry: flake8 --count --show-source --statistics
        language: system
        types: [python]
    -   id: python-setup
        name: Build Python extensions
        language: system
        entry: pip install -e .[develop]
        types: [text]
        files: '\.(c|h|cpp|hpp)$'
        pass_filenames: false
    -   id: python-unittest
        name: Run Python UnitTests
        language: system
        entry: bash -c 'pytest --doctest-modules python/'
        types: [text]
        files: '\.(c|h|cpp|hpp|py)$'
        pass_filenames: false

ADD: add '--epsilon-greedy' parameter in `self-play-worker` command
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
Due: flake8, python-unittest

CHANGE: change default value of epsilon_greedy to 0.1 which was 0.25
  docs/devlog/devlog_20260604_epsilon_greedy.md
  python/tests/test_vshogi/test_engine/test_alpha_zero.py
  python/vshogi/_cli/_match.py
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
  python/vshogi/dlshogi/_klent/_self_play_worker.py
  python/vshogi/engine/_az.py
Due: flake8, python-unittest

ADD: `Config::dlshogi_policy_size`
  cpp/include/vshogi/common/config.hpp
  cpp/include/vshogi/common/game.hpp
  cpp/include/vshogi/common/state.hpp
  cpp/python/vshogi_wrapper.hpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_node.cpp
  cpp/tests/test_vshogi/test_judkins_shogi/test_game.cpp
  cpp/tests/test_vshogi/test_minishogi/test_game.cpp
  cpp/tests/test_vshogi/test_profile.cpp
  cpp/tests/test_vshogi/test_shogi/test_game.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: `ContiguousBuffer`
  cpp/cmake/VShogiAddCompileOptions.cmake
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/contiguous_buffer.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/searcher.hpp
  cpp/tests/test_vshogi/test_engine/test_az/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_profile.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: pass `ContiguousBuffer` object to `node.expand()` methods
  cpp/include/vshogi/engine/az/node.hpp
  cpp/include/vshogi/engine/az/searcher.hpp
  cpp/include/vshogi/engine/contiguous_buffer.hpp
  cpp/include/vshogi/engine/dfpn/node.hpp
  cpp/include/vshogi/engine/dfpn/searcher.hpp
  cpp/include/vshogi/engine/gaz/node.hpp
  cpp/include/vshogi/engine/gaz/searcher.hpp
  cpp/include/vshogi/engine/tree/node.hpp
  cpp/src/vshogi/engine/az/node.cpp
  cpp/src/vshogi/engine/gaz/node.cpp
  cpp/tests/test_vshogi/test_engine/test_az/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_node.cpp
  cpp/tests/test_vshogi/test_engine/test_dfpn/test_searcher.cpp
  cpp/tests/test_vshogi/test_engine/test_gaz/test_node.cpp
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

CHANGE: 'Data.merge()' computes weighted or moving average depending on the total count
  python/tests/test_vshogi/test_dlshogi/test_data.py
  python/vshogi/dlshogi/_data.py
Due: flake8, python-unittest

CHANGE: longer timeout duration for parallel execution
  python/vshogi/dlshogi/_alpha_zero/_self_play_worker.py
Due: flake8, python-unittest

ADD: trait BasePieceType
  rust/src/common.rs
  rust/src/common/piece_type.rs
  rust/src/lib.rs
  rust/src/variants/minishogi.rs
  rust/src/variants/test_minishogi.rs
Due: none

ADD: BaseSquare::shift
  rust/src/common/square.rs
  rust/src/variants/test_minishogi.rs
Due: none

EDIT: implement to_piece_type in BasePiece trait
  rust/src/common/piece.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: ColorEnum in Rust
  .pre-commit-config.yaml
  rust/src/color.rs
  rust/src/lib.rs
  rust/src/variants/minishogi.rs
Due: none

EDIT: make common module in Rust
  rust/src/common.rs
  rust/src/common/color.rs
  rust/src/common/magic.rs
  rust/src/common/result.rs
  rust/src/common/utils.rs
  rust/src/lib.rs
Due: none

ADD: Piece::is_promoted, PieceType::is_promoted
  rust/src/variants/minishogi.rs
Due: none

ADD: BaseSquare::rotate
  rust/src/common/square.rs
  rust/src/variants/test_minishogi.rs
Due: none

ADD: ResultEnum in Rust
  rust/src/lib.rs
  rust/src/result.rs
Due: none

EDIT: added test_minishogi.rs file
  rust/src/variants.rs
  rust/src/variants/minishogi.rs
  rust/src/variants/test_minishogi.rs
Due: none

CHANGE: add Copy attribute
  rust/src/common/piece.rs
  rust/src/common/piece_type.rs
  rust/src/common/square.rs
Due: none

migrate hamming_weight to Rust
  .cargo/config.toml
  .pre-commit-config.yaml
  cpp/CMakeLists.txt
  cpp/cmake/RustIntegration.cmake
  cpp/include/vshogi/common/utils.hpp
  cpp/python/CMakeLists.txt
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
  rust/src/lib.rs
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: Piece::to_piece_type
  rust/src/variants/minishogi.rs
Due: none

EDIT: implement is_promotable, is_promoted in BasePiece trait
  rust/src/common/piece.rs
  rust/src/variants/minishogi.rs
Due: none

migrate `to_magic_table_index` to Rust
  cpp/cmake/RustIntegration.cmake
  cpp/include/vshogi/common/magic.hpp
  cpp/include/vshogi/common/utils.hpp
  rust/src/lib.rs
  rust/src/magic.rs
  rust/src/utils.rs
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

ADD: BaseSquare::chebyshev_distance
  rust/src/common/square.rs
  rust/src/variants/test_minishogi.rs
Due: none

ADD: Direction::has_{north, east, west, south}
  rust/src/common/direction.rs
Due: none

ADD: trait BasePiece
  rust/src/common.rs
  rust/src/common/piece.rs
  rust/src/common/piece_type.rs
  rust/src/variants/minishogi.rs
  rust/src/variants/test_minishogi.rs
Due: none

ADD: {Piece, PieceType}::is_promotion_always_better
  rust/src/variants/minishogi.rs
Due: none

EDIT: implement is_slider in BasePiece trait
  rust/src/common/piece.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: BaseSquare::in_promotion_zone
  rust/src/common/parameters.rs
  rust/src/common/square.rs
  rust/src/variants/minishogi.rs
  rust/src/variants/test_minishogi.rs
Due: none

ADD: Direction::is_adjacent_dir
  rust/src/common/direction.rs
Due: none

ADD: trait BaseParameters
  rust/src/common.rs
  rust/src/common/parameters.rs
  rust/src/common/piece_type.rs
  rust/src/variants/minishogi.rs
Due: none

migrate `minishogi::PieceTraits::is_promotable` implementation
  cpp/include/vshogi/common/piece_traits.hpp
  rust/src/lib.rs
  rust/src/variants.rs
  rust/src/variants/minishogi.rs
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest

EDIT: implement demote in BasePiece trait
  rust/src/common/piece.rs
  rust/src/variants/minishogi.rs
Due: none

EDIT: implement promote in BasePiece trait
  rust/src/common/piece.rs
  rust/src/variants/minishogi.rs
Due: none

EDIT: implement get_color in BasePiece trait
  rust/src/common/piece.rs
  rust/src/variants/minishogi.rs
Due: none

EDIT: implement is_promotion_always_better in BasePiece trait
  rust/src/common/piece.rs
  rust/src/variants/minishogi.rs
Due: none

EDIT: ColorEnum -> Color
  rust/src/common/color.rs
  rust/src/common/piece.rs
  rust/src/common/result.rs
  rust/src/variants/test_minishogi.rs
Due: none

EDIT: implement promote, demote in BasePieceType
  rust/src/common/piece_type.rs
  rust/src/variants/minishogi.rs
Due: none

ADD: BaseSquare::hflip
  rust/src/common/square.rs
  rust/src/variants/minishogi.rs
  rust/src/variants/test_minishogi.rs
Due: none

EDIT: implement is_attacking_to in BasePiece trait
  rust/src/common/piece.rs
  rust/src/variants/test_minishogi.rs
Due: none

FIX: BasePiece::to_piece_type
  rust/src/common/piece.rs
  rust/src/variants/minishogi.rs
Due: none

migrate `softmax` to Rust
  cpp/include/vshogi/common/utils.hpp
  rust/src/lib.rs
  rust/src/utils.rs
Due: clang-format, cpp-unittest, clang-tidy, python-setup, python-unittest
